<div class="card-acess" *ngIf="estadoAcesso">
  <div class="row align-items-end">
    <div class="col" style="margin-bottom: -20px">
        <div *ngFor="let link of pages_links">
            <div routerLink="/dashboard/{{link.router}}">
                <img class= "return_acess" src="/assets/icons/{{link.style}}.svg">
                <p class={{link.style}}>{{link.page}}</p>
            </div>
          </div>
    </div>
  </div>
  <div class="row align-items-start">
      <div class="col">
          <div class="linha_acess"></div>
      </div>
  </div>
</div>

