<div class="cliente-box" *ngFor="let cliente of clientes">
  <div style="width: 250px">
    <div class="row d-flex justify-content-center" style="margin-right: 15px">
      <img class="cliente" src="{{mostrarImg(cliente.img)}}" >
      <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; width: 100%"><label>{{cliente.nome}}</label></p>
      <p class="text-center" style="font-size: .9rem; line-height: 1.2; margin-bottom: 0; width: 100%"><label>CPF {{cliente.cpf}}</label></p>
      <button class="btn btn-sm laranja_hover" (click)=editarCliente(cliente)>EDITAR</button>
    </div>
  </div>
</div>