.corpoin{
    background-color: #E2E2E2;
}

.pages-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #E2E2E2;
}

.pages-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    background: transparent;
    overflow-x: hidden;
}

.pages-content {
    flex: 1;
    overflow-x: hidden;
}