<div class="linha_title"></div>
<div>
<table class="table table-striped" [mfData]="bancos" #mf="mfDataTable" [mfRowsOnPage]="4">
        <thead>
        <tr style = "color: #fafafa; background-color: #1b2f39;">
            <th style="width: 100%">
                <mfDefaultSorter by="nome">Bancos Disponíveis</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bancos of mf.data">
            <td>
                <mat-radio-group [(ngModel)]="banco_selecionado">
                        <mat-radio-button class = "example-margin" value={{bancos.nome}} (click)="mudarParametro(bancos.nome)"></mat-radio-button>
                </mat-radio-group>
                    
                {{bancos.nome}}
                </td>
        </tr>
        </tbody>

        <!--tfoot>
        <tr>
            <td colspan="4" class="centralize-paginator">
                <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot-->
        </table>
</div>

