<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Colaboradores Adicionados</h5>
      </div>
    </div>

    <div class="row" style = "margin-top: 40px"> 
      <table class="table table-striped" style="margin-right: 15px; margin-left: 15px">
        <thead>
          <tr>
            <th style="font-size: .8rem"><mfDefaultSorter by="nome">Nome</mfDefaultSorter></th>
            <th style="font-size: .8rem"><mfDefaultSorter by="cpf">CPF</mfDefaultSorter></th>
            <th style="font-size: .8rem"><mfDefaultSorter by="senha">Senha</mfDefaultSorter></th>
            <th style="font-size: .8rem">Editar</th>
            <th style="font-size: .8rem"><mfDefaultSorter by="status">Status</mfDefaultSorter></th>
          </tr>
        </thead>
            
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
          <td colspan="5">
              <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
          </td>
          </tr>
      </tfoot>
      </table>
    </div>
  </div>   
</div>
