<div *ngIf="gerencia_nivel_1">

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">

            <div class="row">
                <div class="col-sm">
                        <h5 style="margin:0px;">Meus Dados</h5>
                </div>
                <div class="linha_title"></div>
            </div>

        <div *ngIf="inputsDadosAdmin">
            <form [formGroup]="formDadosAdmin" (ngSubmit)="atualizarDadosAdmin()">
            
            <div class="row" style = "margin-top: 10px">
                <div class="col-sm-5">
                    <label class="label-teste">Nome</label>
                    <div class="form-group">
                        <input
                            type="text" 
                            class="form-control extra {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                            style="text-transform: capitalize"
                            placeholder="{{dados_admin_master.nome_admin}"
                            value="{{dados_admin_master.nome_admin}}"
                            formControlName="nome"
                            #inputNome (input)="validaNome(inputNome)"
                            required>
                    </div>
                    <label class="label-teste">E-mail</label>
                    <div class="form-group">
                        <input
                            type="text" 
                            class="form-control extra {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                            placeholder={{dados_admin_master.email_admin}}
                            value="{{dados_admin_master.email_admin}}"
                            formControlName="email"
                            #inputEmail (input)="validaEmail(inputEmail)"
                            required>
                    </div>
                    <label class="label-teste">Telefone</label>    
                    <div class="form-group">
                        <input
                            type="text" 
                            class="form-control extra {{ telefoneValido ? 'is-valid' : 'is-invalid'}}"
                            placeholder={{dados_admin_master.telefone_empresa}}
                            value="{{dados_admin_master.telefone_empresa | telefonePipe}}"
                            [textMask]="{mask: telefone_mask}"
                            formControlName="telefone"
                            #inputTelefone (input)="validaTelefone(inputTelefone)"
                            required>
                    </div>
                </div>
    
                <div class="col-sm-5">
                    <label class="label-teste">CPF</label>
                    <div class="form-group">
                        <input
                            type="text" 
                            class="form-control extra {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                            value="{{dados_admin_master.cpf_admin | cpfMaskPipe}}"
                            [textMask]="{mask: cpf_mask}"
                            formControlName="cpf"
                            #inputCPF (input)="validaCPF(inputCPF)"
                            required>
                    </div>
                    <label class="label-teste">Celular</label>        
                    <div class="form-group">
                        <input
                            type="text" 
                            class="form-control extra {{ celularValido ? 'is-valid' : 'is-invalid'}}"
                            placeholder={{dados_admin_master.celular_admin}}
                            value="{{dados_admin_master.celular_admin | celularPipe}}"
                            [textMask]="{mask: celular_mask}"
                            formControlName="celular"
                            #inputCelular (input)="validaCelular(inputCelular)"
                            required>
                    </div>
                </div>
            </div>

            </form>

            <div>
                <button class="btn rosa btn-sm btn-block col-sm-2" (click)="mudarDadosAdmin()" [disabled]="estadoForm">Salvar Alterações</button>
            </div>

        </div>

        <div class="row align-items-center" style="height: 198px" *ngIf="estadoLoad || inputsDadosAdmin === false">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                    <h5 style="margin:0px;">Dados do Negócio</h5>
            </div>

            <div class="linha_title"></div>
          </div>

          <div *ngIf="inputsDadosNegocio">

            <form [formGroup]="formDadosNegocio" (ngSubmit)="atualizarDadosNegocio()">
        
                <div class="row" style = "margin-top: 10px">
                    <div class="col-sm-5">
                        <label class="label-teste">CNPJ</label>
                        <div class="form-group">
                            <fieldset disabled>
                            <input
                                style="color: #ced4da"
                                type="text" 
                                class="form-control extra {{ cnpjValido ? 'is-valid' : 'is-invalid'}}"
                                value="{{dados_empresa.cnpj_cpf | cnpjPipe}}"
                                [textMask]="{mask: cnpj_mask}"
                                formControlName="cnpj"
                                id="disabledTextInput"
                                #inputCnpj (input)="validaCNPJ(inputCnpj)"
                                required></fieldset>
                        </div>
                        <label class="label-teste">Nome</label>            
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ nomeFantasiaValido ? 'is-valid' : 'is-invalid'}}"
                                value={{dados_empresa.nome_fantasia}}
                                formControlName="nome_fantasia"
                                #inputNomeFantasia (input)="validaNomeFantasia(inputNomeFantasia)"
                                required>
                        </div>
                        <label class="label-teste">Rua</label>                
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ ruaValido ? 'is-valid' : 'is-invalid'}}"
                                value={{dados_empresa.endereco}}
                                formControlName="rua"
                                #inputRua (input)="validaRua(inputRua)"
                                required>
                        </div>
                        <label class="label-teste">Bairro</label>                    
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ bairroValido ? 'is-valid' : 'is-invalid'}}"
                                value={{dados_empresa.bairro}}
                                formControlName="bairro"
                                #inputBairro (input)="validaBairro(inputBairro)"
                                required>
                        </div>
                    </div>
        
                    <div class="col-sm-5">
                            <div class="form-group" style="margin-bottom: 75px;">
                                </div>
                        <label class="label-teste">CEP</label>            
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ cepValido ? 'is-valid' : 'is-invalid'}}"
                                value="{{dados_empresa.cep | cepPipe}}"
                                formControlName="cep"
                                [textMask]="{mask: cep_mask}"
                                #inputCep (input)="validaCep(inputCep)"
                                required>
                    </div>
                    <label class="label-teste">Número</label>                    
                    <div class="form-group">
                            <input
                                type="number"
                                class="form-control extra {{ numeroValido ? 'is-valid' : 'is-invalid'}}"
                                value={{dados_empresa.numero}}
                                formControlName="numero"
                                minlength="1"
                                #inputNumero (input)="validaNumero(inputNumero)"
                                required>
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-5">
                                    <label class="label-teste">Cidade</label>
                                <div class="form-group" style="margin-right: 10px">
                                    <input
                                        type="text" 
                                        class="form-control extra {{ cidadeValido ? 'is-valid' : 'is-invalid'}}"
                                        value={{dados_empresa.cidade}}
                                        formControlName="cidade"
                                        #inputCidade (input)="validaCidade(inputCidade)"
                                        required>
                                </div>
                            </div>
                            
                            <div class="col-sm-5">
                                    <label class="label-teste">Estado</label>
                                <div class="form-group" style="margin-right: 0">
                                    <input
                                        type="text" 
                                        maxlength = "2"
                                        style="text-transform: uppercase"
                                        class="form-control extra {{ estadoValido ? 'is-valid' : 'is-invalid'}}"
                                        value={{dados_empresa.estado}}
                                        formControlName="estado"
                                        #inputEstado (input)="validaEstado(inputEstado)"
                                        required>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
                <div>
                    <button class="btn rosa btn-sm btn-block col-sm-2" [disabled]="estadoForm2">Salvar Alterações</button>
                </div>
            </div>
                

            <div class="row align-items-center" style="height: 226px" *ngIf="estadoLoad || inputsDadosNegocio === false">
                <div class="col-sm">
                    <div class="row justify-content-center">
                        <div class="loader-in-box" style="margin-top: 10px">
                            <app-loader></app-loader>
                            <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
  </div>

  <div class = "row" style="padding: 0; margin: 10px 10px 10px 10px">

    <div class="col-sm-4" style="padding: 0; ">
        <div class="card-box" style = "height: 250px; margin-top: 10px;">
            <div class = "card-new-col" style = "width: 100%;">
                <div class="row">
                    <div class="col-sm">
                            <h5 style="margin:0px;">Alterar Imagem</h5>
                    </div>
          
                    <div class="linha_title"></div>
                </div>

                <div *ngIf="estadoMudarFoto">
                    <div class="row align-items-center" style = "bottom: 50px; margin-top: 20px">
                        <div class="col-sm">
                            <div class="row justify-content-center">
                                <img class="new_user_img" src="/assets/new_user_img.svg" >
                            </div>
                        </div>
                  
                        <div class="col-sm" >
                            <button class="btn rosa btn-sm btn-block" data-toggle="modal" data-target="#exampleModall">Alterar imagem</button>
                        </div>
                    </div>
                </div>

                <div *ngIf="estadoMudarFoto===false" style = "height: 100%;">
                    <div class="row align-items-center text-center" style = "height: 100%; margin-left: 25px; margin-right: 25px;">
                        <div class="col-sm">
                            <div class="row justify-content-center">
                                    <p>Parece que você já solicitou a mudança da foto de perfil. Aguarde por aprovação.</p>
                            </div>
                        </div>    
                    </div>
                </div>
   
            </div>
        </div>
    </div>

    <div class="col-sm" style="padding: 0; margin: 10 10 10 0">
        <div class="card-box-teste" style = "height: 250px; margin-top: 10px">
            <div class = "card-new-col" style = "width: 100%; margin-left: 0;">
                <div class="row">
                    <div class="col-sm-8">
                        <h5 style="margin:0px;">Alterar Senha</h5>
                    </div>
          
                    <div class="linha_title"></div>
                </div>

                <div class="row align-items-center" style="height: 226px" *ngIf="inputsAlterarSenha === false && estadoLoadAlterarSenha">
                    <div class="col-sm">
                        <div class="row justify-content-center">
                            <div class="loader-in-box" style="margin-top: 10px">
                                <app-loader></app-loader>
                                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Module de Resposta da Api -->
                <div *ngIf="responseScreenSenha">
                    <app-responses></app-responses>
                </div>
                <!-- End of Modulo de Resposta da Api-->
            
                <div *ngIf="estadoLoadAlterarSenha == false && inputsAlterarSenha"  class="row align-items-center" style = "bottom: 50px; margin-top: 10px; " >
                     
                    <form [formGroup]="formNewPassword" (ngSubmit)="atualizarSenhaNegocio()">
                    <div class="col-sm">
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ senhaAtualValida ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Senha Atual"
                                formControlName="senha_atual"
                                #inputSenha (input)="validaSenha(inputSenha)"
                                required>
                        </div>
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ senhaNovaValida ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Nova Senha"
                                formControlName="nova_senha"
                                #inputSenha (input)="validaNovaSenha(inputSenha)"
                                required>
                        </div>
                        <div class="form-group">
                            <input
                                type="text" 
                                class="form-control extra {{ senhaNovaRepeatValida ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Repita a Senha"
                                formControlName="nova_senha_repeat"
                                #inputSenha (input)="validaNovaSenhaRR(inputSenha)"
                                required>
                        </div>
                    </div>

                    </form>
                  
                    <div class="col-sm">
                        <div class="row justify-content-center ">
                            <button class="btn rosa btn-sm btn-block col-sm-5" (click)="atualizarSenhaNegocio()" [disabled]="estadoForm3">Alterar Senha</button>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</div>



</div>

  <div class="card-box" style="margin-top: 10px">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                    <h5 style="margin:0px;">Outras Opções</h5>
            </div>
  
            <div class="linha_title"></div>
          </div>
            <div class="row col-md-12" id="alinha" style="margin-top: 20px">
                <div class="col-md-4" >
                  <button class="btn rossa_hover " (click)="navegarParaSubRotas('transferencia')">Transferência Bancária</button>
                </div>
                <div class="col-md-4">
                  <button class="btn rossa_hover" (click)="navegarParaSubRotas('assinatura')">Assinatura e Cobrança</button>
                </div>
                <div class="col-md-4">
                    <button class="btn rossa_hover" routerLink="/dashboard/estorno">Solicitar Estorno</button>
                  </div>
            </div>
    </div>
  </div>

      <!--                            MODAL                                                 -->

<div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Edite a foto de sua empresa</h5>
            </div>
                
            <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
                    <div class="linha_title2"></div>
              <div>
                <app-editar-imagem></app-editar-imagem>
            </div>
              
            </div>
                
            <div class="modal-footer">
              <button class="btn rosa btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
            </div>
          </div>
        </div>
      </div>

  <div class="foot-margin"></div>

  