<div *ngIf="estadoAcess">
    <app-acess-pages></app-acess-pages>
  </div>

<!-- Modulo Unidades -->

<div>
    <app-unidades></app-unidades>
</div>

<!-- End of Modulo Unidades-->

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">

        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Preencha os dados da conta</h5>
            </div>
            <div class="linha_title"></div>
        </div>

        <!-- Modulo de Erros de Input-->
        <div *ngIf="errors_input">
            <app-errors></app-errors>
        </div>
        <!-- End of Modulo de Erros de Input-->

        <!-- Module de Resposta da Api -->
        <div *ngIf="responseScreen">
            <app-responses></app-responses> 
        </div>
        <!-- End of Modulo de Resposta da Api-->

        <div *ngIf="estadoLoad===false">
            <div *ngIf="responseScreen===false">
            <form [formGroup]="formTransferencia" (ngSubmit)="solicitarTransferencia()">
                <div>
                    <div class="row" style = "margin-top: 10px">
                        <div class="col-sm-5">
                                <div class="col-sm">
                                        <div class="row align-items-end" style = "margin-top: 20px; margin-bottom: 1rem;">
                                            <div class="col-sm-7" style="padding:0%;">
                                                <p style="font-size: 1rem; margin-bottom: 5px;">{{banco_selecionado}}</p>
                                            </div>
                                            <div class="col-sm-3">
                                                <span class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" 
                                                id="bmodal" data-toggle="modal" data-target="#modalbancos">Escolher</span>

                                                <div class="modal fade" id="modalbancos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                          <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 style="margin:0px; margin-left:10px;">Escolha o banco da sua conta</h5>
                                                                
                                                            </div>
                                                                              
                                                            <div class="modal-body" style="padding: 0rem 1rem 1rem 1rem">
                                                                <div>
                                                                    <app-bancos></app-bancos>
                                                                </div>
                                                            </div>
                                                                              
                                                            <div class="modal-footer">
                                                              <button class="btn rosa_hover btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
                                                              <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">SELECIONAR</button>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>



                                            </div>
                                            <div style="margin-top: 0; border-bottom: solid 1px #e2e2e2; height: 0px; width: 80%"></div>
                                        </div>   
                                    </div>
                            <div class="form-group">
                                <input
                                    type="text" 
                                    class="form-control extra"
                                    placeholder="Agência"
                                    formControlName="agencia"
                                    required>
                            </div>
                            <div class="form-group">
                                <input
                                    type="text" 
                                    class="form-control extra"
                                    placeholder="Conta"
                                    formControlName="conta"
                                    required>
                            </div>
                        </div>
        
                        <div class="col-sm-5">
                            <div style="margin-bottom: 1px; margin-top: 28px; font-size: 1rem">

                                <div class="radio-inline" style="float: left; margin-right: 15px;">
                                    <input 
                                    style="margin-right: 10px; cursor: pointer;"
                                    type="radio" 
                                    formControlName="tipo_conta" 
                                    name="tipo_conta" 
                                    value="Conta Corrente">
                                    Conta Corrente
                                </div>
                                <div class="radio-inline">
                                    <input 
                                    style="margin-right: 10px; cursor: pointer;"
                                    type="radio" 
                                    formControlName="tipo_conta" 
                                    name="tipo_conta" 
                                    value="Conta Poupança">
                                    Conta Poupança
                                </div>
                                <!-- Angular Material Checkbox
                                <mat-radio-group formControlName="tipo_conta">
                                    <div style="float: left; margin-right: 15px;">
                                        <mat-radio-button class = "example-margin" value="Conta Corrente"></mat-radio-button>
                                        Conta Corrente
                                    </div>
                                    <div>
                                        <mat-radio-button class = "example-margin" value="Conta Poupança"></mat-radio-button>  
                                        Conta Poupança
                                    </div>
                                </mat-radio-group>
                                -->
                            </div>
                        
                            <div class="form-group" style="margin-top:10px;">
                                <input
                                    type="text"
                                    class="form-control extra"
                                    placeholder="Valor"
                                    formControlName="valor"
                                    required>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div>
                <button type="submit" (click)="solicitarTransferencia()" class="btn rosa btn-sm btn-block col-sm-3">Solicitar Transferência</button>
            </div>

            </div>

        </div>

        <div class="row align-items-center" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 60px; margin-bottom: 60px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">Solicitando Transferência</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:10px">
            <div class="linha_title"></div>
        </div>
        
        <div style="margin-top: 15px">
            <p class="msg_transf">{{msg_tranferencia[0]}}</p>
            <p class="msg_transf">{{msg_tranferencia[1]}}</p>
            <p class="msg_transf">{{msg_tranferencia[2]}}</p>
            <p class="msg_transf">{{msg_tranferencia[3]}}</p>
            <p class="msg_transf">{{msg_tranferencia[4]}}</p>
        </div>
    </div>
</div>