<div *ngIf="estadoAcess">
    <app-acess-pages></app-acess-pages>
</div>

<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Estorno</h5>
      </div>
      <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
    </div>
        
    <div class="row" style = "margin-top: 10px">
      <div class="col-sm">
        <p style="font-size: 1rem">Essa função será necessária para quando um operador de caixa transacionar
          um troco de forma errada. Como forma de garantir a segurança da operação, precisamos de algumas informações:
        </p>
      </div>
    </div>  
  </div>
</div>

<div class="card-box">
  <div class="card-new" style="width: 100%">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Dados para estorno</h5>
      </div>
      <div class="linha_title"></div>
    </div>

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 100%" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 20px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
            </div>
        </div>
    </div>
    </div>

    
    <!-- End of Module de Loader-->

    <div *ngIf="estadoLoad===false">

      <!-- Module de Resposta da Api -->
      <div *ngIf="responseScreen">
        <app-responses></app-responses> 
      </div>
      <!-- End of Modulo de Resposta da Api-->
      
      <div *ngIf="responseScreen===false">
          <div class="row" style = "margin-top: 10px">
      
              <div class="col-sm-5">
                 <form [formGroup]="formEstorno">
                <div class="form-group">
                  <input
                      type="text" 
                      class="form-control extra"
                      placeholder="R$ 0,00"
                      formControlName="valor_troco_estorno"
                      value={{valor_troco_estorno}}
                      (input)="validaEstorno()"
                      currencyMask
                      [options]="{ align: 'left', prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                      required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ celularValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Celular"
                        [textMask]="{mask: celular_mask}"
                        formControlName="celular"
                        #inputCelular (input)="validaCelular(inputCelular)"
                        required>
                  </div> 
                  <div class="form-group" style="margin-bottom: 0rem">
                      <input
                          type="text" 
                          class="form-control extra {{ codigoValido ? 'is-valid' : 'is-invalid'}}"
                          placeholder="Código da transação"
                          formControlName="cod_transacao"
                          #inputCodigo (input)="validaCodigo(inputCodigo)"
                          required>
                    </div> 
                    <div class="row align-top">
                        <div class="col">
                            <p style="font-size: 11px; font-style: italic;">* Encontre o código no comprovante do troco.</p> 
                        </div> 
                    </div> 
                    <div class="form-group">
                        <textarea 
                          class="form-control resize-none" 
                          placeholder="Mensagem"
                          rows="10"
                          formControlName="mensagem"></textarea>
                      </div>
                    </form>  
                </div>
              
              <div class="col-sm">
                  <div class="row justify-content-end">
                      <img style="height: 300px; margin-right: 10px; margin-bottom: 10px; margin-top: 20px;" src="/assets/comprovantes.svg">
                  </div>
              </div>
          </div>
        <div>
            <button class="btn rosa btn-sm btn-block col-sm-2" (click)="solicitarEstorno()"  [disabled]="estadoForm">Solicitar Estorno</button>
        </div>
      </div>  
       
    </div>
  </div>
</div>

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
      <div class="row">
        <div class="col-sm">
          <h5 style="margin:0px;">Estornos solicitados</h5>
        </div>
        <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
      </div>

      <div class="row" style = "margin-top: 10px">
        <div class="col-sm">
            
        <div *ngIf="estadoLoadTable === false">

            <div *ngIf="estadoEstorno === false">
                <p class = "no-unity-msg text-center">{{msg_no_estorno}}</p>
            </div>

            <div *ngIf="estadoEstorno">
              <table style="margin-bottom: 0;" class="table table-striped" [mfData]="estornos" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                <tr style = "color: #fafafa; background-color: #1b2f39">
                    <th style="width: 10%; font-size: .8rem;">
                        <mfDefaultSorter by="">Código</mfDefaultSorter>
                    </th>
                    <th style="width: 30%; font-size: .8rem;">
                        <mfDefaultSorter by="unidade">Unidade</mfDefaultSorter>
                    </th>
                    <th style="width: 30%; font-size: .8rem;">
                        <mfDefaultSorter by="operador">Operador</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="celular">N° Celular</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="">Data Solicitação</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="">Data Compensação</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="valor_troco_estorno">Valor</mfDefaultSorter>
                    </th>
                    <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="status">Status</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let estorno of mf.data">
                    <td style="font-size: .8rem;">{{estorno.codigo_troco}}</td>
                    <td style="font-size: .8rem;">{{estorno.unidade_troco}}</td>
                    <td style="font-size: .8rem;">{{estorno.nome_operador}}</td>
                    <td style="font-size: .8rem;">{{estorno.celular_troco}}</td>
                    <td style="font-size: .8rem;">{{estorno.data_solicitacao | date :'dd/MM/yyyy'}}</td>
                    <td style="font-size: .8rem;">{{estorno.data_efetivacao}}</td>
                    <td style="font-size: .8rem;">{{estorno.valor_troco | currency: 'BRL'}}</td>
                    <td style="font-size: .8rem; font-weight: 500" 
                    [ngStyle]="{'color': (estorno.status==='AGUARDANDO' ? '#cb4386' : '#37A5DA')}">{{estorno.status}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="8">
                        <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                    </td>
                </tr>
                </tfoot>
                </table>
          </div>
          </div>

          <div class="row align-items-center" style="height: 100%" *ngIf="estadoLoadTable">
              <div class="col-sm">
                  <div class="row justify-content-center">
                      <div class="loader-in-box" style="margin-top: 20px">
                          <app-loader></app-loader>
                          <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                      </div>
                  </div>
              </div>
              </div>
        </div>
      </div>  
    </div>
  </div>

  