<div class="card-box">
  <div class="card-new" style = "width: 100%;">

          
      <div class="row">
          <div class="col-sm">
                  <h5 style="margin:0px;">Ultimo Depósito Solicitado</h5>
          </div>

          <div class="linha_title" style="margin-bottom:10px"></div>
      </div> 

      <div *ngIf="estadoLoad === false 
      && status_unidade_select === true
      && status_last_deposito === true">
      <table class="table table-striped" [mfData]="last_deposito" #mf="mfDataTable" [mfRowsOnPage]="1">
              <thead>
              <tr style = "color: #fafafa; background-color: #1b2f39;">
                  <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="nome">Código</mfDefaultSorter>
                  </th>
                  <th style="width: 25%; font-size: .8rem;">
                      <mfDefaultSorter by="unidade">Unidade</mfDefaultSorter>
                  </th>
                  <th style="width: 10%; font-size: .8rem;">
                      <mfDefaultSorter by="valor">Valor</mfDefaultSorter>
                  </th>
                  <th style="width: 20%; font-size: .8rem;">
                      <mfDefaultSorter by="data">Data da Solicitação</mfDefaultSorter>
                  </th>
                  <th style="width: 15%; font-size: .8rem;">
                      <mfDefaultSorter by="status">Status</mfDefaultSorter>
                  </th>
                  <th style="width: 15%; font-size: .8rem;">
                    <mfDefaultSorter by="status">Ver Fatura</mfDefaultSorter>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let last_deposito of mf.data">
                  <td style="font-size: .8rem;">
                      {{last_deposito.codigo}}
                      </td>
                  <td style="font-size: .8rem;">{{last_deposito.unidade}}</td>
                  <td style="font-size: .8rem;">{{last_deposito.valor | currency: 'BRL'}}</td>
                  <td style="font-size: .8rem;">{{last_deposito.data | date :'dd/MM/yyyy'}}</td>
                  <td style = "font-weight: 700; font-size: .8rem;" 
                  [ngStyle]="{'color': (last_deposito.status==='Em Aberto' ? '#cb4386' : '#37A5DA')}">{{last_deposito.status}}</td>
                  <td style="font-size: .8rem;">
                    <button style="padding-right: 8px; padding-left: 8px;" 
                    class="btn rosa_hover text-center btn-sm btn-block"
                    (click)="verFatura(last_deposito.url_fatura)">Ver Fatura</button>
                </td>
              </tr>
              </tbody>
              </table>
      </div>
      
      <div class="row align-items-center" *ngIf="estadoLoad">
          <div class="col-sm">
              <div class="row justify-content-center">
                  <div class="loader-in-box" style="margin-top: 10px">
                      <app-loader></app-loader>
                      <p class= "text-center" style="font-size: 10px;">Carregando Ultimo Depósito</p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row align-items-center" *ngIf="status_unidade_select===false">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div style="margin-top: 10px">
                    <p class = "no-unity-msg text-center">Nenhuma Unidade Selecionada</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row align-items-center" *ngIf="status_last_deposito===false">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div style="margin-top: 10px">
                    <p class = "no-unity-msg text-center">Nenhum depósito realizado nesta unidade.</p>
                </div>
            </div>
        </div>
    </div>
       
  </div>
</div>
