.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.item-box{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 40%;
    margin-bottom: 25px;
}

.item-box-secundário{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 30%;
    margin-bottom: 25px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 20px; 
    background-color: #FFFFFF
}

.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}


.rosa_hover{
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;

}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
}


.new_user_img {
    width: 120px;
    height: 120px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.linha_acess {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 1px #afafae; 
    height: 10px; 
    width: 100%
}

.card-acess {
    margin: 20px 10px 10px 10px
}

.page_acess {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    font-size: 1.15rem;
}

.page_acess_ativo {
    color: #1b2f39;
    font-weight: 600;
    float: left;
}

.page_acess_blur {
    color: #b3b2b2;
    float: left;
    font-weight: 600;
    
}

.return_acess {
    width: 20px;
    height: 20px;
    float: left;
}


.azul{
    background-color: #129cd8;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}