<div class="produtos-box" *ngFor="let produto of dados_produtos">
  <div style="width: 250px">
    <div class="row d-flex justify-content-center" style="margin-right: 15px">
      <div class="row justify-content-center">
        <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
      </div>
      <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
        <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0;"><label>{{produto.nome}}</label></p>
          <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; overflow:scroll; white-space: normal">{{showDescricao(produto.descricao)}}</p>
          <ui-switch [checked]="produto.status===1?true:false" color="black" switchColor="#ea5b17"
          (change)="mudarStatusProdutoSelecionado($event, produto)"></ui-switch>
      </div>
    </div>
  </div>
</div>
