<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Indicar Cliente</h5>
      </div>
    </div>

    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 400px" *ngIf="estadoLoad">
      <div class="col-sm">
          <div class="row justify-content-center">
              <div class="loader-in-box" style="margin-top: 10px">
                  <app-loader></app-loader>
                  <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
              </div>
          </div>
      </div>
    </div>
    <!-- End of Module de Loader-->

    <div *ngIf="estadoLoad===false && indicacaoScreen && receitaScreen===false">
        <form [formGroup]="formCliente">
            <div class="row" style = "margin-top: 30px"> 
              <div class="col-sm-4">
                <p class="texto" style="margin-top: 10px">CPF *</p>
                <input 
                  class="form-control  {{ cpfValido ? 'is-valid' : 'is-invalid'}}" 
                  [textMask]="{mask: cpf_mask}"
                  formControlName="cpf"
                  (input)="validaCPF(input)">
      
                <p class="texto" style="margin-top: 10px">E-mail *</p>
                <input
                  class="form-control {{ emailValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="email"
                  (input)="validaEmail(input)">
                <p class="texto" style="margin-top: 20px; font-size: .8rem">* campos obrigatórios</p>
              </div>
          
              <div class="col-sm">
                <p class="texto" style="margin-top: 10px">Nome *</p>
                <input
                  class="form-control {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                  formControlName="nome"
                  (input)="validaNome(input)">
      
                <p class="texto" style="margin-top: 10px">Data de nascimento</p>
                <input 
                  class="form-control {{ data_nascValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="data_nasc"
                  [textMask]="{mask: birth_mask}"
                  (input)="validaData(input)">
              </div>
          
              <div class="col-sm">
                <p class="texto" style="margin-top: 10px">Celular *</p>
                <input 
                  class="form-control {{ telefoneValido ? 'is-valid' : 'is-invalid'}}" 
                  [textMask]="{mask: celular_mask}"
                  formControlName="telefone"
                  (input)="validaTelefone(input)">
      
                <p class="texto" style="margin-top: 10px">Endereço</p>
                <input 
                  class="form-control {{ enderecoValido ? 'is-valid' : 'is-invalid'}}" 
                  formControlName="endereco"
                  (input)="validaEndereco(input)">
              </div>
          </div>
          </form>
          <div class="linha_title"></div>
      
            <div class="row">
              <div class="col-sm">
                <p class="texto" style="margin-top: 5px; font-size: 20px;">Produtos para indicar</p>
                <p style="font-size: .9rem">Marque os produtos que irá indicar para seu cliente.</p>

                <form [formGroup]="formBuscarProduto">
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm">
                            <p class="texto" style="margin-top: 10px">Busca rápida</p>
                            <p style="font-size: .9rem">Busque rapidamente o produto pelo nome.</p>
                            <input 
                                class="form-control float-left"
                                formControlName="nome"
                                placeholder="Digite o nome do produto"
                                (input)="buscarProdutoViaInput()"
                                style="width: 300px; margin-right: 15px">
                            <button class="float-left btn btn-sm laranja_hover" style="margin-top: 10px; margin-right: 20px" (click)="buscarProduto()">BUSCAR</button>   

                            <div class= "float-left" *ngIf="estadoLoadBusca" >
                                <div class="loader-in-box float-left">
                                    <app-loader></app-loader>
                                </div>
                                <p class="float-left" style="font-size: 14px; margin-top: 12px; margin-left: 15px">{{mensagem_loader}}</p>
                            </div>
                            <div *ngIf="estadoLoadBusca===false">
                                <p class="float-left" style="font-size: 14px; margin-top: 12px; margin-left: 15px">{{msg_erro_busca}}</p>
                            </div>
                        </div>
                    </div>
        
                    <div class="row" *ngIf="outros_prod!=null && estadoLoadBusca===false">
                            <div class="col">
                                <div class="scrollmenu">
                
                                  <div class="produtos-box" *ngFor="let produto of outros_prod">
                                      <div style="width: 250px">
                                        <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                          <div class="row justify-content-center">
                                            <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                          </div>
                                          <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                              <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: hidden;"><label>{{produto.nome}}</label></p>
                                                <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                                <ui-switch [checked]="false" color="black" switchColor="#ea5b17"
                                                (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                            </div>
                                        </div>
                                      </div>
                                    </div>
                                    </div>
                            </div>
                          </div>
                    </form>


                    <div>
                        <p class="texto" style="margin-top: 10px">Buscar por categorias</p>
                        <p style="font-size: .9rem">Escolha produtos pela categoria que melhor combina com seu atendimento.</p>
                    </div>

                <div class="row" style="margin-left: 3px" *ngIf="prod_mais_indicados!=null">
                  <p class="texto-laranja" style="margin-top: 30px; width: 100%">MAIS INDICADOS POR VOCÊ</p>
                  <div class="col">
                      <div class="scrollmenu">
      
                        <div class="produtos-box" *ngFor="let produto of prod_mais_indicados">
                            <div style="width: 250px">
                              <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                <div class="row justify-content-center">
                                  <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                </div>
                                <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                    <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: hidden;"><label>{{produto.nome}}</label></p>
                                      <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                      <ui-switch [checked]="false" color="black" switchColor="#ea5b17"
                                      (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                  </div>
                              </div>
                            </div>
                          </div>
                        
                          </div>
                  </div>
                </div>
      
                <div class="row" style="margin-left: 3px">
                  <p class="texto-laranja" style="margin-top: 30px; width: 100%">LINHA MÉDICA</p>

                  
                  <div *ngIf="prod_linha_medica === undefined">
                    <p class = "no-unity-msg text-center">Não há produtos nessa categoria. Entre em contato com a Falcone.</p>
                  </div>
                  
                  <div class="col">
                      <div class="scrollmenu">
      
                        <div class="produtos-box" *ngFor="let produto of prod_linha_medica">
                            <div style="width: 250px">
                              <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                <div class="row justify-content-center">
                                  <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                </div>
                                <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                    <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: hidden;"><label>{{produto.nome}}</label></p>
                                      <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                      <ui-switch [checked]="false" color="black" switchColor="#ea5b17"
                                      (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                  </div>
                              </div>
                            </div>
                          </div>
                        
                          </div>
                  </div>
                </div>
      
                <div class="row" style="margin-left: 3px">
                  <p class="texto-laranja" style="margin-top: 30px; width: 100%">INTOLERANTES</p>

                  <div *ngIf="prod_intolerantes === undefined">
                    <p class = "no-unity-msg text-center">Não há produtos nessa categoria. Entre em contato com a Falcone.</p>
                  </div>
                  
                  <div class="col">
                      
                        <div class="produtos-box" *ngFor="let produto of prod_intolerantes">
                            <div style="width: 250px">
                              <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                <div class="row justify-content-center">
                                  <img class="produto" src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                </div>
                                <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                    <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: visible"><label>{{produto.nome}}</label></p>
                                      <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; overflow:scroll; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                      <ui-switch [checked]="false" color="black" switchColor="#ea5b17"
                                      (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                  </div>
                              </div>
                            </div>
                          </div>
                  </div>
                </div>
      
                <div class="row" style="margin-left: 3px">
                  <p class="texto-laranja" style="margin-top: 30px;  width: 100%">VEGANOS</p>

                  <div *ngIf="prod_veganos === undefined">
                    <p class = "no-unity-msg text-center">Não há produtos nessa categoria. Entre em contato com a Falcone.</p>
                  </div>
                  
                  <div class="col">
                    <div class="produtos-box">
                      
                        <div class="produtos-box" *ngFor="let produto of prod_veganos">
                            <div style="width: 250px">
                              <div class="row d-flex justify-content-center" style="margin-right: 15px">
                                <div class="row justify-content-center">
                                  <img class="produto " src={{mostrarImg(produto.img)}} (error)="this.src=mostrarImg(null)">
                                </div>
                                <div class="row justify-content-center" style="padding-left: 20px; padding-right: 20px">
                                    <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; overflow: visible"><label>{{produto.nome}}</label></p>
                                      <p class="text-center" style="font-size: .9rem; line-height: 1.2; width: 240px; height: 50px; overflow: hidden; overflow:scroll; white-space: normal">{{showDescricao(produto.descricao)}}</p>
                                      <ui-switch [checked]="false" color="black" switchColor="#ea5b17"
                                      (change)="mudarStatusProdutoSelecionado($evento, produto)"></ui-switch>
                                  </div>
                              </div>
                            </div>
                          </div>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="linha_title" style="margin-bottom: 0px;"></div>
      
            <div class="row">
              <div class="col-sm">
                <p class="texto">Itens selecionados: <label class="texto-cinza">{{quant_prod_selecionados}}</label></p>
              </div>
            </div>
      
            <form [formGroup]="formObs">
            <div class="row">
              <div class="col-sm-6">
                <p class="texto">Quer adicionar alguma informação? Escreva aqui.</p>
                <div class="form-group">
                  <textarea 
                    class="form-control resize-none" 
                    rows="10"
                    formControlName="mensagem"></textarea>
                </div> 
              </div>
            </div>
          <button class=" btn btn-sm laranja" [disabled]="estadoForm" (click)="fazerReceita()">GERAR INDICAÇÃO</button>
        </form>
    </div>

    <div *ngIf="estadoLoad===false && receitaScreen && indicacaoScreen===false">
        <div class="card-new" style="width: 100%; margin-top: 20px">
          <div class="row">
              <div class="col-sm">
                <h5 style="margin:0px;">Pronto! A receita de código: {{codigo_receita}} foi gerada! O que pretende fazer agora?</h5>
              </div>
              <div class="linha_title"></div>
          </div>
          <div class="row col-md-12" id="alinha" style="margin-top: 20px">
              <div class="col-md-4" >
                <button class="btn laranja btn-sm" (click)="imprimirReceita()">Imprimir e Enviar para email</button>
              </div>
              <div class="col-md-4">
                <button class="btn laranja btn-sm" >Somente enviar para email</button>
              </div>
              <div class="col-md-4">
                <button class="btn laranja_hover btn-sm" (click)="novaReceita()" >Fazer nova receita</button>
              </div>  
          </div>
      
        </div>

      <app-receita id="receita"></app-receita>
    </div>
</div>
</div>