.produto {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 10px
}

.profi-box{
    float: left;
}

.laranja{
    margin-top: 10px;
    background-color: #ea5b17;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.laranja_hover{
    color: #ea5b17;
    border: 2px solid #ea5b17;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.loader-in-box {
    width: 50px;
}


div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
div.scrollmenu .profi-box {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}