body,html{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: sans-serif;
}
.navbar{
	z-index: 1400;
	width: 100%;
}
.sidebar{
	z-index: 1300;
	float: left;
	width: 300px;
	height: 100%;
	background-color: rgba(255,255,255,255);
	overflow: hidden;
	transition: 0.8s all;
}
.side{
	margin-left: 0;
}

.sidebar ul{
	margin: 0;
	padding-left: 5px;
	padding-right: 10px;
}
.sidebar ul li{
	list-style: none;
	cursor: pointer;
}
.sidebar ul li a{
	text-decoration: none;
	color: white;
	height: 50px;
	width: 100%;
	font-size: 30px;
	line-height: 20px;
	text-align: left;
	display: block;
	transition: 0.6s all;
}

a:hover{
	background-color: #fff;
	color: #000 !important;
	border-radius: 0;
	font-weight: 400;
}

a.active{
	
	border-radius: 0;
	color: #ea5b17 !important;
}

.btn{
  border-left: solid 1px #ea5b17;
	padding: 0 10px;
	font-size: 40px;
	text-decoration: none;
	color: #2c3e50;
	font-family: Ionicons;
  cursor: pointer;
  transition: 0.8s all;
}
.nomemenu, #nomemenu{
	font-size: 1.2rem;
	margin-left: 20px;
	transition: opacity 2s;
	margin-top: 5px;
	position: absolute;
	font-weight: 400;
}
span{
	vertical-align: middle;
}
i{
	vertical-align: middle;
}

#imgperfil{
	border-radius: 50%;
  z-index: 9999;
  float: right;
}
#bb, #bu{
	border-top: solid 1px #ccc;
	width: 90%;
	margin-left: 5px;
}

#logo{
	text-decoration: none;
	color: white;
	height: 70px;
	width: 100%;
	font-size: 40px;
	line-height: 60px;
	text-align: left;
	padding-left: 10px;
	display: block;
	transition: 0.6s all;
}

#logo1{
  text-decoration: none;
  background-color: #f8f9fa;
	height: 75px;
	width: 100%;
	font-size: 40px;
	line-height: 60px;
  padding-left: 10px;
	display: block;
	transition: 0.6s all;
}
.nome{
	margin-left: 20px !important;
}
.frenteback{
	background-color: #2c3e50;
	opacity: 0.9;
}

#div{
  height: 50px;
}
#usuario{
	margin-top: 10px;
	margin-right: 10px;
}
#tog{
	font-size: 30px;
	margin-top: -10px;

}
#imgr{
	border-radius: 50%;
}

#ico{
  transition: 0.8s all;
  margin-left: -9px;
  position: absolute;
  margin-top: 10px;
}

#logotop{
  position: relative;
  transition: 0.8s all;
	margin-left: 25px;
	height: 40px;
}
#todonome{
  float: left;
  margin-right: 20px;
  text-align: right;
}
#nomet{
  font-size: 1.3em;
}
#cpf{
  margin-top: -5px;
  color: #ea5b17;
}

.bg-light {
	background-color: #ffffff
}

.fullscreen{
  height: 100%;
  width: 100%;
  background:rgba(0,0,0,.8);
  position: fixed;
  left: 0;
  top: 0;
}

.box {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
li{
	padding-top: 10px;
}

.nav-link {
	display: block;
	padding: .4rem .7rem;
}