.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 20px; 
    background-color: #FFFFFF
}

.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.loader-in-box {
    width: 50px;
    }
      
    .no-unity-msg {
    margin: 20px;
    font-size: 14px;
    }
    
    .ativado {
        font-weight: 700;
        margin-top: 15px;
        color: #129cd8;
    }
    
    .pendente {
        font-weight: 700;
        color: #cb4386;
    }
    
    .rosa_hover{
        font-size: 9px;
        color: #c4c4c4;
        border: 2px solid #c4c4c4;
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
    }
    
    .rosa_hover:hover{
        background-color: #cb4386;
        color: #fff;
        border: 2px solid transparent;
    }
    
    .mypag /deep/ .pagination .current{
        color: #199dd9;
        font-weight: 600;
        font-size: 1rem;
    }
    
    .mypag /deep/  .pagination .disabled{
        color: #199dd9;
        font-size: 1rem;
    }
    
    .mypag /deep/  .pagination a:hover .pagination button:hover{
        background-color: transparent;
        color: #199dd9;
        font-size: 1rem;
    }
    .mypag /deep/  .pagination a{
        color: #c4c4c4;
        font-size: 1rem;
        font-weight: 600;
    }
    .mypag /deep/  .pagination{
        text-align: center;
        justify-content: center;
        padding: 0;
        font-size: 1rem;
        margin-bottom: 0rem;
    }
    
    .mypag /deep/ .page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        color: #37A5DA;
        background-color: #fff;
        border: 0px solid #dee2e6;
    }
    
    .mypag /deep/ .page-item.active .page-link {
        z-index: 1;
        color: #37A5DA;
    }
    
    .new_user_img {
        width: 20px;
        height: 20px;
    }
    
    .no-unity-msg {
        margin: 20px;
        font-size: .8rem;
      }

      .onoff input.toggle + label:after {
        content: "";
        position: absolute;
        height: 25px;
        width: 25px;
        top: 0;
        left: 0px;
        border-radius: 30px;
        background: #fff;
        box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: 0.1s ease-in-out;
    }
    
    .onoff input.toggle:checked + label:before {
        width: 50px;
        background: #13bf11;
    }
    
    .onoff input.toggle:checked + label:after {
        left: 25px;
        box-shadow: inset 0 0 0 1px #13bf11, 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .onoff input.toggle {
        display: none;
    }
    
    .onoff input.toggle + label {
        display: inline-block;
        position: relative;
        box-shadow: inset 0 0 0px 1px #d5d5d5;
        height: 25px;
        width: 50px;
        border-radius: 30px;
    }
    
    .onoff input.toggle + label:before {
        content: "";
        display: block;
        height: 25px;
        width: 25px;
        border-radius: 30px;
        background: rgba(19, 191, 17, 0);
        transition: 0.1s ease-in-out;
    }