<div class= "bg-padrao">
  <div class="container d-flex justify-content-center topo">
  <div class="row">
    <div  *ngIf= "painel === 'presents';">
        <div [@animacao-cadastro]="estadoCadastro">
            <app-banner (exibirPainel)="exibirPainel($event)"></app-banner>
        </div>
    </div>
    <div class="card-formu-cadastro" *ngIf= "painel === 'cadastro';">
        <div [@animacao-cadastro]="estadoCadastro">
            <app-cadastro (exibirPainel)="exibirPainel($event)"></app-cadastro>
        </div>
      </div>
    <div class="card-formu-login" *ngIf= "painel === 'login';">
        <div [@animacao-login]="estadoLogin">
            <app-login-pl (exibirPainel)="exibirPainel($event)"></app-login-pl>
        </div>
      </div>
    
  </div>
</div>

</div>