.bg-padrao{
    background-image: url("/assets/bg-driver.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;     
    height: 100%;
    width: 100%;
  }
  
  .topo{
    top: 10%
  }
  
  .fullscreen{
      
    height: 100%;
    width: 100%;
    background:rgba(0,0,0,.8);
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .box {
  
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .card-formu-login{
      margin-top: 30%;
  }

  .card-formu-cadastro{
    margin-top: 20%;
}