.card-box {
  align-content: stretch; 
  display: flex; 
  flex-wrap: wrap; 
  margin: 20px 10px 10px 10px
}

.card-title {
  width: 100%;
  padding: 10px;
  margin: 0 0 5px 5px;
  border-bottom: solid gray 1px
}

.card-new {
  border-radius: 2px;
  color: rgba(0,0,0,0.54); 
  margin-left: 10px;
  font-size: 12px; 
  height: 100%; 
  padding: 10px 20px 20px 20px; 
  background-color: #FFFFFF
}

.title-box {
  color: black;
  font-size: 16px;
  margin-bottom: 0px;
}

.linha_title {
  margin-top: 0; 
  margin-left: 15px; 
  margin-right: 15px; 
  border-bottom: solid 2px #e2e2e2; 
  height: 10px; 
  width: 100%
}


.saldo_unidade {
  color:  #cb4386;
  font-size: 1rem;
  font-weight: 700;
}

.enfase_azul{
  color:  #37A5DA;
  font-size: 1rem;
  font-weight: 700;
}

.example-margin {
  margin: 0 5px;
  align-items: center;
  align-content: center;
  position: relative;
  color: #BC5796;
}

.loader-in-box {
  width: 50px;
}

.no-unity-msg {
  margin: 20px;
  font-size: .8rem;
}

.mypag /deep/ .pagination .current{
  color: #199dd9;
  font-weight: 800;
  font-size: 1rem;
}

.mypag /deep/  .pagination .disabled{
  color: #199dd9;
  font-size: 1rem;
}

.mypag /deep/  .pagination a:hover .pagination button:hover{
  background-color: transparent;
  color: #199dd9;
  font-size: 1rem;
}
.mypag /deep/  .pagination a{
  color: #c4c4c4;
  font-size: 1rem;
  font-weight: 600;
}
.mypag /deep/  .pagination{
  text-align: center;
  justify-content: center;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 0rem;
}

.mypag /deep/ .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 0px solid #dee2e6;
}

.mypag /deep/ .page-item.active .page-link {
  z-index: 1;
  color: #007bff;
}
