<div class="card-box">
    <div class="card-new" style = "width: 100%;">

            
        <div class="row">
            <div class="col-sm">
                    <h5 style="margin:0px;">Último Operador Cadastrado</h5>
            </div>

            <div class="linha_title" style="margin-bottom:10px"></div>
        </div>  

        <div *ngIf="estadoLoad === false && status_last_operador === true">
        <table class="table table-striped" [mfData]="last_operador" #mf="mfDataTable" [mfRowsOnPage]="1">
                <thead>
                <tr style = "color: #fafafa; background-color: #1b2f39;">
                    <th style="width: 25%; font-size: 13px">
                        <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                    </th>
                    <th style="width: 30%; font-size: 13px">
                        <mfDefaultSorter by="unidade">Unidade</mfDefaultSorter>
                    </th>
                    <th style="width: 25%; font-size: 13px">
                        <mfDefaultSorter by="cpf">CPF</mfDefaultSorter>
                    </th>
                    <th style="width: 20%; font-size: 13px">
                        <mfDefaultSorter by="senha">Senha</mfDefaultSorter>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let last_operador of mf.data">
                    <td style="font-size: 13px">
                        {{last_operador.nome}}
                        </td>
                    <td style="font-size: 13px">{{last_operador.unidade}}</td>
                    <td style="font-size: 13px">{{last_operador.cpf}}</td>
                    <td style="font-size: 13px">{{last_operador.senha}}</td>
                </tr>
                </tbody>
                </table>
        </div>
        
        <div class="row align-items-center" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">Carregando Ultimo Colaborador</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-items-center" *ngIf="estadoLoad === false && status_last_operador===false">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div style="margin-top: 10px">
                        <p class = "no-unity-msg text-center">Não há nenhum operador cadastrado nesta conta.</p>
                    </div>
                </div>
            </div>
        </div>
         
    </div>
</div>
