<div *ngIf="estadoEscolhaUnidade" style="margin-bottom: 15px;">
    <div class="col-sm-5">
        <div class="row align-items-end" style = "margin-top: 25px">
            <div class="col-sm-7" style="padding:0%;">
                <p style="font-size: 1rem; margin-bottom: 5px;">{{nome_unidade}}</p>
            </div>
            <div class="col-sm-3">
                <span class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" 
                data-toggle="modal" data-target="#modalunidade">Escolher</span>
            </div>
            <div style="margin-top: 0; border-bottom: solid 1px #e2e2e2; height: 0px; width: 80%"></div>
        </div>   
    </div>
</div>

<!-- Module de Loader -->
<div class="row align-items-center" style="height: 150px" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
            </div>
        </div>
    </div>
  </div>
  <!-- End of Module de Loader-->

  <div *ngIf="estadoMensalidades===false && estadoLoad===false">
    <div class="row">
        <div class="col-sm" style="top: 10px;">
            <div>
                <p class = "no-unity-msg text-center">{{res_mensalidades.mensagem}}</p>
            </div>
        </div>
    </div>
  </div>

<div *ngIf="estadoMensalidades && estadoLoad===false">
    <table class="table table-striped" [mfData]="mensalidades" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr style = "color: #fafafa; background-color: #1b2f39;">
            <th class ="text-center" style="width: 10%">
                <mfDefaultSorter by="codigo">Código</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 20%">
                <mfDefaultSorter by="date_invoice">Data da fatura</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 20%">
                <mfDefaultSorter by="vencimento">Vencimento Vigência</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 20%">
                <mfDefaultSorter by="valor">Valor</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 10%"> 
                <mfDefaultSorter by="status">Status</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 10%"> 
                <mfDefaultSorter by="status">Fatura</mfDefaultSorter>
            </th>
            <th class ="text-center" style="width: 10%"> 
                <mfDefaultSorter by="status">Nota Fiscal</mfDefaultSorter>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let mensalidades of mf.data">
            <td class="align-middle text-center">{{mensalidades.codigo}}</td>
            <td class="align-middle text-center">{{mensalidades.data_criacao | date :'dd/MM/yyyy'}}</td>
            <td class="align-middle text-center">{{mensalidades.vencimento_servico | date :'MM/dd/yyyy'}}</td>
            <td class="align-middle text-center">{{mensalidades.valor | currency: 'BRL'}}</td>
            <td class="status_mensalidade align-middle text-center">{{mensalidades.status}}</td>
            <td>
                <button style="padding-right: 8px; padding-left: 8px;" class="btn rosa_hover text-center btn-sm btn-block"
                (click)="verFatura(mensalidades.url_fatura)">Ver Fatura</button>
            </td>
            <td>
                <button style="padding-right: 8px; padding-left: 8px;" class="btn rosa_hover text-center btn-sm btn-block">Ver Nota Fiscal</button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <mfBootstrapPaginator></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
    </table>
</div>

<!-- Modal Escolha de Unidade -->

<div class="modal fade" id="modalunidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="margin:0px; margin-left:10px;">Escolha a unidade do operador de caixa</h5>
        </div>
                            
        <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
            <div>
                <app-unidadesmodal></app-unidadesmodal>
            </div>
        </div>
                            
        <div class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
            <button class="btn rosa_hover btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
            <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal" (click)="buscarFaturasMensalidade()">SELECIONAR</button>
        </div>
        </div>
    </div>
</div>

<!-- End of Modal Escolha de Unidade -->