.status_mensalidade {
    color:  #cb4386;
    font-size: 13px;
    font-weight: 700;
}

.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.rosa_hover{
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #cb4386;
    border-radius: 0%;
    color: rgb(68, 68, 68);
    padding-left: 0;
} 

.loader-in-box {
    width: 50px;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

.modal-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-body{
    padding: 10px 20px 0 20px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}

.no-unity-msg {
    margin: 20px;
    font-size: .8rem;
  }