<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Cadastrar operador de caixa</h5>
            </div>
            <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
        </div>

        <!-- Modulo de Erros de Input-->
        <div *ngIf="errors_input">
            <app-errors></app-errors>
          </div>
          <!-- End of Modulo de Erros de Input-->
      
          <!-- Module de Resposta da Api -->
          <div *ngIf="responseScreen">
            <app-responses></app-responses> 
          </div>
          <!-- End of Modulo de Resposta da Api-->
      
          <!-- Module de Loader -->
          <div class="row align-items-center" style="height: 203px" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
          </div>
          <!-- End of Module de Loader-->
        
        <div *ngIf="estadoLoad === false && responseScreen === false">
        <form [formGroup]="formOperador" (ngSubmit)="cadastrarOperador()">
        <div class="row" style = "margin-top: 10px">
            <div class="col-sm-5">
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ nomeValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Nome completo"
                        style="text-transform: capitalize"
                        formControlName="nome_operador"
                        #inputNome (input)="validaNome(inputNome)"
                        pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ data_nascValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Data de Nascimento"
                        formControlName="data_nascimento"
                        [textMask]="{mask: birth_mask}"
                        #inputData (input)="validaData(inputData)"
                        required>
                </div>
                <div class="col-sm">
                    <div class="row align-items-end" style = "margin-top: 25px">
                        <div class="col-sm-7" style="padding:0%;">
                            <p style="font-size: 1rem; margin-bottom: 5px;">{{nome_unidade}}</p>
                        </div>
                        <div class="col-sm-3">
                            <span class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" 
                            data-toggle="modal" data-target="#modalunidade">Escolher</span>
                        </div>
                        <div style="margin-top: 0; border-bottom: solid 1px #e2e2e2; height: 0px; width: 80%"></div>
                    </div>   
                </div>
            </div>
  
            <div class="col-sm-5">
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ cpfValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="CPF"
                        formControlName="cpf"
                        [textMask]="{mask: cpf_mask}"
                        #inputCpf (input)="validaCPF(inputCpf)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ telefoneValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Celular"
                        formControlName="telefone"
                        [textMask]="{mask: celular_mask}"
                        #inputTelefone (input)="validaTelefone(inputTelefone)"
                        required>
                </div>
            </div>
        </div>
    </form>

        <div style="margin-top: 20px;">
            <button (click)="cadastrarOperador()" class="btn rosa btn-sm btn-block col-sm-2" [disabled]="estadoForm">Salvar</button>
        </div>
    </div>
    </div>
</div>

<div>
    <app-ultimo-operador></app-ultimo-operador>
</div>

  <div class="card-box">
      <div class = "card-new" style = "width: 100%;">
          <div class="row">
              <div class="col-sm">
                    <h5 style="margin:0px;">Gerenciar operadores de caixa</h5>
              </div>
  
              <div class="linha_title"></div>
          </div>
          <div class="row" style = "margin-top: 10px">
              <div class="col-sm">
                <div>
                    <button class="btn azul btn-sm btn-block col-sm-2" routerLink="/dashboard/gerenciar-operador">Gerenciar</button>
                </div>
              </div>
      </div>
    </div>
    <div class="foot-margin"></div>

<!-- Modal Escolha de Unidade -->

<div class="modal fade" id="modalunidade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 style="margin:0px; margin-left: 10px;">Escolha a unidade do operador de caixa</h5>
        </div>
                            
        <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
            <div>
                <app-unidadesmodal></app-unidadesmodal>
            </div>
        </div>
                            
        <div class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
            <button class="btn rosa_hover btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
            <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">OK</button>
        </div>
        </div>
    </div>
</div>

<!-- End of Modal Escolha de Unidade -->
