<div *ngIf="estadoAcess">
    <app-acess-pages></app-acess-pages>
</div>


  
<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
            
          <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
        </div>
    <!-- End of Module de Loader-->

    <!-- Modulo de Erros de Input-->
    <div *ngIf="errors_input">
        <app-errors></app-errors>
    </div>
    <!-- End of Modulo de Erros de Input-->

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
        <app-responses></app-responses> 
    </div>
    <!-- End of Modulo de Resposta da Api-->

        
        <div *ngIf="estadoLoad===false && responseScreen === false">
        <form [formGroup]="formLojas" >
        <div class="row" style = "margin-top: 10px">
            <div class="col-sm">
                <div class="form-group">
                    <input
                        style="font-weight: 500"
                        type="text" 
                        class="form-control extra {{ nome_unidadeValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Nome da unidade"
                        formControlName="nome_unidade"
                        #inputNome (input)="validaNome(inputNome)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ cepValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="CEP"
                        formControlName="cep"
                        [textMask]="{mask: cep}"
                        (blur)="consultaCep()"
                        #inputCep (input)="validaCep(inputCep)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ bairroValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Bairro"
                        formControlName="bairro"
                        #inputBairro (input)="validaBairro(inputBairro)"
                        required>
                </div>
                <div class="col-sm">
                    <div class="row align-items-end">
                        <div class="col-sm" style="padding:0%;">
                            <p style="font-size: 1rem; font-weight: 700; margin-bottom: 0rem;">* Valor de troco diário:</p>
                        </div>
                        
                        <div class="col-sm-5" style="padding:0%;">
                            <div class="form-group" style="margin-bottom: 0rem;">
                                <input
                                    type="text"
                                    (change)="validaValorTroco()"
                                    class="form-control extra"
                                    placeholder="R$ 20,00"
                                    formControlName="valor_troco"
                                    currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                                    required>
                            </div>
                        </div>
                          
                    </div>
                        
                </div>
                <div class="row align-top">
                    <div class="col">
                        <p style="font-size: 11px; font-style: italic;">* Valor que os operadores de caixa irão utilizar durante o dia.</p> 
                    </div> 
                </div> 
            </div>
              
                
            
            <div class="col-sm">
                <div class="form-group" style="margin-bottom: .7rem">
                    <fieldset disabled>
                    <input
                        style="color: #ced4da"
                        type="text" 
                        class="form-control extra {{ cnpjValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="CNPJ da Unidade"
                        formControlName="cnpj"
                        id="disabledTextInput"
                        required></fieldset>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ ruaValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Rua"
                        formControlName="rua"
                        #inputRua (input)="validaRua(inputRua)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ numeroValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Número"
                        formControlName="numero"
                        #inputNumero (input)="validaNumero(inputNumero)"
                        required>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group" style="margin-right: 10px">
                            <input
                                type="text" 
                                class="form-control extra {{ cidadeValido ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Cidade"
                                formControlName="cidade"
                                #inputCidade (input)="validaCidade(inputCidade)"
                                required>
                        </div>
                    </div>
                    
                    <div class="col-sm">
                        <div class="form-group" style="margin-right: 0">
                            <input
                                type="text" 
                                class="form-control extra {{ estadoValido ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Estado"
                                formControlName="estado"
                                #inputEstado (input)="validaEstado(inputEstado)"
                                required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="row align-items-center" style = "bottom: 50px; margin-top: 20px">
                    <div class="col-sm">
                        <div class="row justify-content-center">
                            <img class="new_user_img" src={{img_matriz}} >
                        </div>
                        <div *ngIf="foto_aprov===false">
                            <div class="row justify-content-center">
                                <button class="btn rosa btn-sm " style="padding-left: 22px; padding-right: 22px;" data-toggle="modal" data-target="#exampleModall" type="submit">Inserir Imagem</button>
                            </div>
                            <div class="row justify-content-center">
                                <button class="btn cinza btn-sm " style="padding-left: 10px; padding-right: 10px;" (click)="getImgMatriz()">Usar foto da matriz</button>
                            </div>
                        </div>
                        <div *ngIf="foto_aprov"> 
                            <p class="text-center">
                                <br>
                                Essa unidade já tem uma imagem sujeita a aprovação. <br>
                                Por essa razão, você não pode alterá-la no momento. <br>
                                Aguarde por aprovação ou reprovação.
                            </p>
                        </div>
                        
                    </div>
                    </div>
            </div>
        </div>
    </form>


        <div>
            <button class="btn rosa btn-sm btn-block col-sm-2" type="submit" (click)="atualizar()" [disabled]="estadoForm2">Atualizar Unidade</button>
        </div>
        </div>
    </div>
</div>

      <!--                            MODAL                                                 -->

      <div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Edite a foto de sua empresa</h5>
            </div>
                
            <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
                    <div class="linha_title2"></div>
              <div>
                <app-enviar-imagem></app-enviar-imagem>
            </div>
              
            </div>
                
            <div class="modal-footer">
              <button class="btn rosa btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
            </div>
          </div>
        </div>
      </div>
