<!--<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="all">
          <div class="card">
            <div class="card-header">
                <h4 class="card-title">Opção de extrato</h4>
            </div>
            <div class="card-body">
              <div class="row col-md-12" id="alinha">
                <div class="col-md-4" (click)="tpassados()"><strong id="trocop">Trocos passados</strong></div>
                <div class="col-md-4" (click)="fcaixa()"><strong id="trocop">Fechamento de caixa</strong></div>
                <div class="col-md-4" (click)="rinserida()"><strong id="trocop">Reservas inseridas</strong></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row">
        <div class="col-sm">
          <h5 style="margin:0px;">Opções de extrato</h5>
        </div>
        <div class="linha_title"></div>
    </div>
    <div class="row col-md-12" id="alinha" style="margin-top: 20px">
        <div class="col-md-4" >
          <button class="btn azul_hover btn-sm" routerLink="/dashboard/trocos-passados">Trocos passados</button>
        </div>
        <div class="col-md-4">
          <button class="btn azul_hover btn-sm" routerLink="/dashboard/fechamento-caixa">Fechamento de caixa</button>
        </div>
        <div class="col-md-4">
          <button class="btn azul_hover btn-sm" routerLink="/dashboard/reservas-inseridas">Reservas inseridas</button>
        </div>  
    </div>

  </div>
  <div class="foot-margin"></div>
</div>

