<div *ngIf="estadoLoad === false">
    <div *ngIf="estadoOperadores">
        <table class="table table-striped" [mfData]="operadores" #mf="mfDataTable" [mfRowsOnPage]="4" style="margin-bottom: 0%">
                <thead>
                    <tr style="color: #fafafa; background-color: #1b2f39;">
                        <th>
                            <mfDefaultSorter by="select"></mfDefaultSorter>
                        </th>
                        <th style="width: 59%; font-size: .8rem">
                            <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                        </th>
                        <th style="width: 40%; font-size: .8rem">
                            <mfDefaultSorter by="cpf">CPF</mfDefaultSorter>
                        </th>
        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let operadores of mf.data">
                        <td>
                            <div class="radio-inline">
                                <input
                                style="margin-right: 10px; cursor: pointer;"
                                [(ngModel)]="operador_selecionado"
                                type="radio" 
                                name="operador_selecionado" 
                                value={{operadores.id}}
                                (input)="mudarParametro(operadores)">
                            </div>
                                    
                            <!--mat-radio-group [(ngModel)]="operador_selecionado">
                                <mat-radio-button class="example-margin" value={{operadores.id}} (click)="mudarParametro(operadores)"></mat-radio-button>
                            </mat-radio-group-->
                        </td>
                        <td style="font-size: .8rem">{{operadores.nome}}</td>
                        <td style="font-size: .8rem">{{operadores.cpf}}</td>
        
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" style="padding: .5rem">
                            <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
    </div>
    <div *ngIf="estadoOperadores === false">
        <p class = "no-unity-msg text-center">{{msg_no_operators}}</p>
    </div>
</div>

<div *ngIf="estadoUnidade===false">
    <p class = "no-unity-msg text-center">Escolha uma Unidade</p>
</div>

<div class="row align-items-center" *ngIf="estadoLoad && estadoUnidade">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class="text-center" style="font-size: 10px;">Carregando Operadores</p>
            </div>
        </div>
    </div>
</div>
