.blue{
    margin-top: 10px;
    background-color:#37A5DA;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.laranja{
    margin-top: 10px;
    background-color: #ea5b17;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.msg_response{
    margin-top: 10px;
    font-size: 20px;
    color: #5e5d5d
}

.img_response_sucess{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-position: center;
    background-image: url('/assets/sucess.svg');
    background-repeat: no-repeat;
}

.img_response_error{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-position: center;
    background-image: url('/assets/error.svg');
    background-repeat: no-repeat;
}