<div *ngIf="estadoLoad === false">
<table class="table table-striped" style="margin-bottom: 0;" [mfData]="colaboradores" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
        <tr style = "color: #fafafa; background-color: #1b2f39;">
            <th style="width: 20%; font-size: .8rem;">
                <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
            </th>
            <th style="width: 10%; font-size: .8rem;">
                <mfDefaultSorter by="funcao">Função</mfDefaultSorter>
            </th>
            <th style="width: 20%; font-size: .8rem;">
                <mfDefaultSorter by="unidade">Unidade</mfDefaultSorter>
            </th>
            <th style="width: 15%; font-size: .8rem;">
              <mfDefaultSorter by="cpf">CPF</mfDefaultSorter>
          </th>
          <th style="width: 12%; font-size: .8rem;">
            <mfDefaultSorter by="senha">Senha</mfDefaultSorter>
        </th>
        <th class="text-center" style="width: 10%; font-size: .8rem;">
            <mfDefaultSorter by="senha">Editar</mfDefaultSorter>
        </th>
        <th class="text-center" style="width: 20%; font-size: .8rem;">
            <mfDefaultSorter by="senha">Status</mfDefaultSorter>
        </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let colaboradores of mf.data">
            <td class="align-middle" style="font-size: .8rem;">{{colaboradores.nome}}</td>
            <td class="align-middle" style="font-size: .8rem;">{{colaboradores.funcao}}</td>
            <td class="align-middle" style="font-size: .8rem;">{{colaboradores.unidade}}</td>
            <td class="align-middle" style="font-size: .8rem;">{{colaboradores.cpf}}</td>
            <td class="align-middle" style="font-size: .8rem;">{{colaboradores.senha}}</td>
            <td class="align-middle text-center">
                <img style="cursor: pointer" (click)="editarColaborador(colaboradores)" class="new_user_img" src="/assets/lapis.svg">
            </td>
            <td class="align-middle text-center">
                <div *ngIf="colaboradores.status===0">
                    <div *ngIf="estadoLoadConvite===false || cpf_reconvite!=colaboradores.cpf">
                        <p class="pendente" style="margin-bottom: 0px; font-size: .8rem;">Pendente</p>
                        <button class="rosa_hover" (click)="reenviarConvite(colaboradores.cpf)">Reenviar Convite</button>
                    </div>
                    <div class = "row align-items-center" *ngIf="estadoLoadConvite && cpf_reconvite===colaboradores.cpf">
                        <div class="col-sm">
                            <div class="row justify-content-center">
                                <app-loader style="width: 30px; "></app-loader>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div *ngIf="colaboradores.status===1">
                    <p class="ativado" style="font-size: .8rem;">Ativado</p>
                </div>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="7">
                <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
            </td>
        </tr>
        </tfoot>
        </table>
</div>

<div class="row align-items-center" *ngIf="estadoLoad">
    <div class="col-sm">
        <div class="row justify-content-center">
            <div class="loader-in-box" style="margin-top: 10px">
                <app-loader></app-loader>
                <p class= "text-center" style="font-size: 10px;">Carregando Colaboradores</p>
            </div>
        </div>
    </div>
</div>
