<div>
    
    <div *ngIf="corteScreen === 'p1'">
            <div class="row align-items-center">
                <div class="col-sm" style="height: 360px">
                    <div class="row justify-content-center">
                        <img-cropper style="margin-left: 3rem; margin-top: 5px;" [image]="data" [settings]="cropperSettings"></img-cropper><br>
                        </div></div></div>
            <div *ngIf="data.image">
            <div class="row align-items-center">
                <div class="col-sm">
                   <div class="row justify-content-center">
                    <span class="btn azul btn-sm col-sm-3" style="font-size: 1rem; margin-top: 0px;  margin-bottom: 5px;" (click)="finishEdition()">Próximo</span>
            </div>
            </div>
                </div>
            </div>
    </div>
    <div *ngIf="corteScreen === 'p2'">
        <div class="row align-items-center">
            <div class="col-sm" style="height: 360px">
                <div class="row justify-content-center">
                    <img style="width: 300px; height: 300px;margin-top: 30px;" [src]="data.image" [width]="cropperSettings.croppedWidth" [height]="cropperSettings.croppedHeight">
                </div></div></div>
                    <div *ngIf="data.image">
                            <div class="row align-items-center">
                                    <div class="col-sm">
                                       <div class="row justify-content-center">
                                            <span class="btn azul btn-sm col-sm-5" style="font-size: 1rem; margin-top: 0px;  margin-bottom: 5px;" (click)="confirmarFoto()">Pronto, confirmar foto!</span>
                                        </div></div></div>
                                        </div>
    </div>


    <!-- Module de Loader -->
    <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
      </div>
      <!-- End of Module de Loader-->

    <!-- Module de Resposta da Api -->
    <div *ngIf="responseScreen">
        <app-responses></app-responses> 
      </div>
      <!-- End of Modulo de Resposta da Api-->
</div>
