<div *ngIf="estadoAcess">
  <app-acess-pages></app-acess-pages>
</div>
<!-----------------------------MODAL----------------------------->
<div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 style="margin:0px; margin-left: 10px;">Escolha a unidade</h5>
      </div>
                
      <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
        <div>
          <app-unidadesmodal></app-unidadesmodal>
        </div>
      </div>
                
      <div class="modal-footer" style="padding: 0rem 1rem 1rem 1rem">
        <button class="btn rosa_hover btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">CANCELAR</button>
        <button class="btn rosa btn-sm btn-block col-sm-3" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
<!-------------------------------------------->
<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Escolha as opções de busca</h5>
      </div>
      <div class="linha_title"></div>
    </div>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <div class="row" style = "margin-top: 10px">
        <div class="col-sm-5">
          <div class="col-sm">
            <div class="row align-items-end" style = "margin-top: 20px; margin-bottom: 1rem;">
              <div class="col-sm-7" style="padding:0%;">
                <p style="font-size: 1rem; margin-bottom: 5px;">{{unidadeEscolhida}}</p>
              </div>
              <div class="col-sm-3">
                <span class="btn rosa_hover btn-sm btn-block" style="font-size: 12px; margin-top: 0px;  margin-bottom: 5px; padding: 1px" 
                       data-toggle="modal" data-target="#exampleModall">Escolher</span>
              </div>
              <div style="margin-top: 0; border-bottom: solid 1px #e2e2e2; height: 0px; width: 81%"></div>
            </div> 
          </div>
          <div class="col-sm-10" style="margin-top:15px; padding:0%">
            <my-date-picker name="data_inicio" [options]="myDatePickerOptions1"
                      [(ngModel)]="model1" placeholder="Data inicial" required></my-date-picker>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="col-sm-10" style="margin-top:66px; padding:0%">
            <my-date-picker name="data_fim" [options]="myDatePickerOptions2"
                      [(ngModel)]="model2" placeholder="Data final" required></my-date-picker>
          </div>
        </div>
      </div>
      <div style="margin-top: 20px">
        <button type="submit" class="btn rosa btn-sm btn-block col-sm-2">Buscar</button>
      </div>  
    </form>
  </div>
</div>

<div class="card-box">
  <div class = "card-new" style = "width: 100%;">
    <div class="row">
      <div class="col-sm">
        <h5 style="margin:0px;">Transferências Solicitadas</h5>
      </div>
      <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
    </div>
    <div *ngIf="estadoLoad === false && status_unidade_select === true && status_extrato === true">
      <div class="row">
        <table class="table table-striped" [mfData]="lista_transferencias" #mf="mfDataTable" [mfRowsOnPage]="10" style="margin-bottom: 0%;margin:15px;">
          <thead>
            <tr style="color: #fafafa; background-color: #1b2f39;">
              <th style="width: 10%; font-size: .8rem">
                <mfDefaultSorter by="id">Código</mfDefaultSorter>
              </th>
              <th style="width: 20%; font-size: .8rem">
                <mfDefaultSorter by="id_unidade">Unidade</mfDefaultSorter>
              </th>
              <th style="width: 8%; font-size: .8rem">
                <mfDefaultSorter by="agendamento">Data</mfDefaultSorter>
              </th>
              <th style="width: 8%; font-size: .8rem">
                <mfDefaultSorter by="efetivado">Data Compensação</mfDefaultSorter>
              </th>
              <th style="width: 5%; font-size: .8rem">
                <mfDefaultSorter by="valor">Valor</mfDefaultSorter>
              </th>
              <th style="width: 8%; font-size: .8rem">
                <mfDefaultSorter by="status">Status</mfDefaultSorter>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lista_transferencias of mf.data">
              <td class="align-middle" style="font-size: .8rem">{{lista_transferencias.id}}</td>
              <td class="align-middle" style="font-size: .8rem">{{lista_transferencias.nome_unidade}}</td>
              <td class="align-middle" style="font-size: .8rem">{{lista_transferencias.agendamento | date :'dd/MM/yyyy'}}</td>
              <td class="align-middle" style="font-size: .8rem">{{lista_transferencias.efetivado | date :'dd/MM/yyyy'}}</td>
              <td class="align-middle" style="font-size: .8rem">{{lista_transferencias.valor | currency: 'BRL'}}</td>
              <td class="align-middle" style="font-size: .8rem;font-weight: 700;" [ngStyle]="{'color': (lista_transferencias.status==='AGENDADO' ? '#cb4386' : '#37A5DA')}">{{lista_transferencias.status}}</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div>
        <button class="btn azul btn-sm btn-block col-sm-3" (click)="convertToPDF()">Exportar Dados para PDF</button>
      </div>  
    </div> 
    <!---->
    <div class="row">
      <div class="col-sm" style="top: 10px;">
        <div *ngIf="status_unidade_select === false">
          <p class = "no-unity-msg text-center">{{unidade_selecionada_nome}}</p>
        </div>

        <div *ngIf="status_extrato === false">
          <p class = "no-unity-msg text-center">{{msg_no_extrato}}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center" *ngIf="estadoLoad">
      <div class="col-sm">
        <div class="row justify-content-center">
          <div class="loader-in-box" style="margin-top: 10px">
            <app-loader></app-loader>
            <p class= "text-center" style="font-size: 10px;">Carregando Extrato</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
