.produto {
    width: 150px;
    height: 150px;
    margin: 10px
}

.produtos-box{
    float: left;
}

.laranja_hover{
    color: #ea5b17;
    border: 2px solid #ea5b17;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}

.laranja_hover:hover{
    background-color: #ea5b17;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
    padding-right: 10px;
    padding-left: 10px;
}