<div>
    <app-unidades></app-unidades>
</div>

<div>
    <app-ultimo-deposito></app-ultimo-deposito>
</div>

<div class="card-box">
    <div class="card-new" style="width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Depósito de reservas de troco</h5>
            </div>
            <div class="linha_title"></div>
        </div>

        <div *ngIf="errors_input">
            <app-errors></app-errors>
        </div>

        <div *ngIf="responseScreen">
            <app-responses></app-responses>
        </div>

        <!-- Module de Loader -->
        <div class="row align-items-center" style="height: 300px" *ngIf="estadoLoad">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
        </div>
      <!-- End of Module de Loader-->

        <div *ngIf="estadoLoad===false && responseScreen === false">
            <div class="row" style = "margin-top: 30px">
                <div class="col-sm">
                    <p class="texto" style="margin-bottom: 20px;">Escolha um dos valores abaixo para depósito: </p>
                    <button type="button" class="btn btn-primary btn-lg btn_cash" (click)="putValorDeposito('50,00')">R$50,00</button>
                    <button type="button" class="btn btn-primary btn-lg btn_cash" (click)="putValorDeposito('100,00')">R$100,00</button>
                    <button type="button" class="btn btn-primary btn-lg btn_cash" (click)="putValorDeposito('300,00')">R$300,00</button>
                    <button type="button" class="btn btn-primary btn-lg btn_cash" (click)="putValorDeposito('600,00')">R$600,00</button>
                    <button type="button" class="btn btn-primary btn-lg btn_cash" (click)="putValorDeposito('1000,00')">R$1000,00</button>
                    
                </div>
            </div>
            <div class="row" style = "margin-top: 20px">
                <div class="col-sm-3">
                    <p class="texto">Outro valor:</p>
                    <form [formGroup]="formDeposito">
                        <div class="form-group" style="margin-bottom: 0;">
                            <input
                                type="text" 
                                class="form-control extra"
                                placeholder="R$ 50,00"
                                formControlName="valor_deposito"
                                value={{valor_deposito}}
                                (input)="validaValorDeposito()"
                                currencyMask
                                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                                required>
                        </div>
                    </form>
                    <div class="row align-top">
                        <div class="col">
                            <p style="font-size: .8rem; font-style: italic; color: #b3b2b2;">Mínimo R$50,00</p> 
                        </div> 
                    </div> 
                    
                </div>
            </div>
            <div>
                <button class="btn rosa btn-sm btn-block col-sm-2" (click)="solicitarDeposito()">Solicitar depósito</button>
            </div>
        </div>

        <div class="row" style = "margin-top: 20px">
            <div class="linha_title"></div>
            <div class="col-sm" style = "margin-top: 20px">
                <p class="texto">Qual a previsão para o dinheiro<br/> adicionado estar na sua conta Trocados?</p>
            </div>
            <div class="col-sm" style = "margin-top: 20px">
                <div class="row">
                    <div class="col-sm">
                    <p class="texto-rosa">Pagando o boleto</p>
                    <p class="texto">Hoje até as 21h</p>
                </div>
                <div class="col-sm">
                    <p class="texto-rosa">Previsão</p>
                    <p class="texto">Próximo dia útil às 10 horas</p>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</div>