
.card-header{
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fff;
}
.card{
    margin-top: 20px;
}

.valores{
    background-color: #129cd8;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-right: 20px;
    color: #fff;
    float: left;
    cursor: pointer;
    overflow: hidden;
}


.escolha{
    margin-bottom: 50px;
}


.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 16px;
    margin-bottom: 0px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.rosa{
    margin-top: 10px;
    background-color: #cb4386;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.btn-group-lg>.btn, .btn-lg {
    padding: .7rem 1.2rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .5rem ;
    border: 1px solid #37A5DA;
    margin-right: 1.5rem;
    font-weight: 600;
}

.btn_cash{
    background-color: #37A5DA;
}

.btn_cash:focus{
    background-color: #c4c4c4;
}

.rosa_hover{
    margin-top: 10px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 1px solid transparent;
}

.new_user_img {
    width: 120px;
    height: 120px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.linha_acess {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #afafae; 
    height: 10px; 
    width: 100%
}

.card-acess {
    margin: 20px 10px 10px 10px
}

.page_acess {
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 0px;
}

.page_acess_ativo {
    color: #1b2f39
}

.page_acess_blur {
    color: #b3b2b2;
    float: left;
}

.return_acess {
    width: 20px;
    height: 20px;
    float: left;
}

.msg_transf {
    margin-top: 0px;
    margin-bottom: 0px;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1rem;
    color: #cb4386;
    margin-bottom: 0rem;
}

.texto{
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0rem;
}

.loader-in-box {
    width: 50px;
}
