<div>
    <div class="bg-padrao">  
    </div>
    <div class="inner">
    <div class="container d-flex justify-content-center " style="height: 650px">
            <span id='topo'></span>
        <div class="col-sm topo">
            <div class="row justify-content-center ">      
                <div *ngIf= "cadastro; else formLogin">
                    <div [@animacao-cadastro]="estadoCadastro">
                        <app-cadastro (exibirPainel)="exibirPainel($event)" (exibirLoad)="exibirLoad($event)" ></app-cadastro>
                    </div>
                </div>
                <ng-template #formLogin>
                    <div [@animacao-login]="estadoLogin">
                        <app-login (exibirPainel)="exibirPainel($event)"></app-login>
                    </div>
                </ng-template>
            </div>
        </div>
        <div [@animacao-login]="estadoCadastro" class="col-sm topo">
            <div style="margin-top: 10%">
                    <p class="text-c1" >Muito <br/>mais<br/>saudável.</p>
            </div>
        </div>
    </div>
    <!--div class="container d-flex justify-content-center">
            <div class="col-sm" style="text-align: end; padding-right: 30px; ">
                <div class="align-items-center" style="padding-top: 100px; padding-bottom: 100px">
                        <p class="text-gradient text-center" style="font-size: 2rem; margin-bottom: 10px; font-family: uniheavy">Mais de</p>
                        <div [@animacao-contador]="estadoContador" class="row justify-content-center" >
                            <div style="background: linear-gradient(0deg, rgb(139, 189, 90), rgb(58, 73, 89)); float: left; margin-left: 20px; width: 100px; height: 100px;" *ngFor="let contador of contador_trocos">
                                <p style="color: #fff; font-size: 100px; font-family: uniheavy; margin-bottom: 0; margin-top: -11px;">{{contador}}</p>
                            </div>
                        </div>
                        <p class="text-gradient text-center" style="font-size: 3rem; font-weight: 700; margin-top: 20px; font-family: uni">Trocos passados.</p>
                </div>
            </div>
    </div>
    <div [@animacao-c2]="estadoC2" id="c2" class="container d-flex justify-content-center">
        <div class="col-sm" style="text-align: end; padding-right: 30px; ">
            <p class="text-gradient" style="font-size: 2rem;margin-top: 200px; font-family: uniheavy">Acompanhe tudo</p>
            <p style="font-size: 1.5rem; font-weight: 700; font-family: uni">Tenha total controle <br/>dos números de<br/> trocos passados.</p>   
        </div>
        <div class="col-sm ">
            <img style="margin-top: 100px" class="shadow-lg  bg-white rounded" src="assets/tela_1.svg">    
        </div>
    </div>
    <div [@animacao-c2]="estadoC3" id="c3" class="container d-flex justify-content-center" style="height: 650px;">
        <div class="col-sm" style="padding-right: 30px;">
            <img style="margin-top: 100px" class="shadow-lg  bg-white rounded"src="assets/tela_2.svg">   
        </div>    
        <div class="col-sm">
            <p class="text-gradient" style="font-size: 2rem;margin-top: 200px; font-family: uniheavy">Transparência</p>
            <p style="font-size: 1.5rem; font-weight: 700; font-family: uni">Você consegue visualizar <br/>toda a movimentação<br/> dos operadores.</p>   
        </div>      
    </div-->
</div>
</div>
<!--div style="background-color: #2c2c2c">
    <div class="container" style="height: 300px; font-family: roboto; padding-top: 20px">
            <div class="row">
                <div class="col-sm d-flex align-items-end"  style="margin-top: 20px">
                    <a href="//www.trocados.com.br"><img style="width: 170px" src="assets/logo-branco.svg"></a>
                </div>
                <div class="col-sm"  style="margin-top: 20px;text-align: end">
                    <a href="//www.instagram.com/trocados" target="_blank"><img class="redes" style="margin-right: 10px" src="assets/ig-branco.svg"></a>
                    <a href="//www.facebook.com/apptrocados" target="_blank"><img class="redes" style="margin-right: 10px" src="assets/fb-branco.svg"></a>
                    <a href="//www.youtube.com/channel/UCeHou07YtxIOtx0tVJdjv-Q" target="_blank"><img class="redes" src="assets/yt-branco.svg"></a>
                </div>  
            </div>
            <div class="linha_title"></div>
            <div class="row" style="margin-top: 20px">
                <div class="col-sm" style="font-size: 1rem">
                    <a href="//www.trocados.com.br"><p style="margin-right: 50px; float:left; color: white">Para seu negócio</p></a>
                    <a href="//www.trocados.com.br/consumidor"><p style="margin-right: 50px; float:left; color: white">Para consumidores</p></a>
                    <a href="#" class="scrollToTop" (click)="exibirPainel('cadastro')"><p style="margin-right: 50px; float:left; color: white">Cadastre-se</p></a>
                    <a href="//www.trocados.com.br/contato"><p style=" color: white">Contato</p></a>
                </div> 
            </div>  
            <div class="row" style="margin-top: 30px;">
                <div class="col-sm d-flex align-items-end">
                    <p style="font-size: 12px; color: #b9b9b9; margin-bottom: 0"> Copyright &copy; 2019 Trocados. Todos os direitos reservados.</p>
                </div>
                <div class="col-sm" style="text-align:end">
                    <img style="width: 150px" src="assets/googleplay.svg">
                    <img style="width: 170px" src="assets/IOS-05.svg">
                </div>
            </div>   
        </div>

</div-->

<div [@animacao-fullscreen]="estadoFullscreen" class="fullscreen" *ngIf="firstLoad">
    <app-loader [@animacao-load]="estadoFirstLoad" class="box"></app-loader>
</div>
