.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.title-box {
    color: black;
    font-size: 1rem;
    margin-bottom: 0px;
}

.item-box{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 15%;
    margin-bottom: 25px;
}

.item-box-secundário{
    font-size: 14px;
    border-bottom: solid 1px #e2e2e2;
    margin-right: 30%;
    margin-bottom: 25px;
}

.card{
    margin: 10px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 3px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 8px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 20px; 
    background-color: #FFFFFF
}

.rosa{
    margin-top: 10px;
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.cinza{
    margin-top: 10px;
    background-color: #c4c4c4;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.rosa_hover{
    margin-top: 10px;
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
}

.blue{
    margin-top: 10px;
    background-color:#37A5DA;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.new_user_img {
    width: 120px;
    height: 120px;
}

.foot-margin {
    height: 20px;
}
.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%;
    margin-bottom: 10px;
}


.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

#azul{
    background-color: #199dd9;
    border-radius: 20px;
    color: #fff;
    padding: 2px 20px;
}

.mypag /deep/ .ngx-pagination .current{
    background-color: #fff;
    color: #199dd9;
    font-weight: bold;
    font-size: .8rem;
}

.mypag /deep/  .ngx-pagination .disabled{
    color: #199dd9;
    font-size: .8rem;
}

.mypag /deep/  .ngx-pagination a:hover .ngx-pagination button:hover{
    background-color: transparent;
    color: #199dd9;
    font-size: .8rem;
}
.mypag /deep/  .ngx-pagination a{
    color: #c4c4c4;
    font-size: .8rem;
}
.mypag /deep/  .ngx-pagination{
    text-align: center;
    padding: 0;
    font-size: .8rem;
}

.msg_nova_unidade{
    font-size: 16px;
    width: 400px;
    text-align: center;
}

.msg_codigo_proposta{
    color: #37A5DA;
    width: 400px;
    text-align: center;
}

.loader-in-box {
    width: 50px;
}

.email-img {
    width: 50px;
    height: 50px;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1.2rem;
    color: #cb4386;
}

.saldo_unidade {
    color:  #cb4386;
    font-size: 1rem;
    font-weight: 700;
  }

  input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:8px;
    color: #333;
    text-align:center;
    position:relative;
}
   input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;
   margin: 0; 
}

.mypag /deep/ .pagination .current{
    color: #199dd9;
    font-weight: 800;
    font-size: 1rem;
  }
  
  .mypag /deep/  .pagination .disabled{
    color: #199dd9;
    font-size: 1rem;
  }
  
  .mypag /deep/  .pagination a:hover .pagination button:hover{
    background-color: transparent;
    color: #199dd9;
    font-size: 1rem;
  }
  .mypag /deep/  .pagination a{
    color: #c4c4c4;
    font-size: 1rem;
    font-weight: 600;
  }
  .mypag /deep/  .pagination{
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0rem;
  }
  
  .mypag /deep/ .page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 0px solid #dee2e6;
  }
  
  .mypag /deep/ .page-item.active .page-link {
    z-index: 1;
    color: #007bff;
  }

  .new_user_img {
    width: 120px;
    height: 120px;
    border-radius: 60px;
}

.modal-content{
    margin-top: 100px;
    border: 0px solid rgba(0,0,0,.2);
    color: rgba(0,0,0,0.54);
}

.modal-header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: .5rem .5rem 0rem .5rem;
    border-bottom: 0px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-footer{
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0.7rem;
    border-top: 0px solid #e9ecef;
}

.modal-body{
    padding: 10px 20px 0 20px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
}

.linha_title2 {
    margin-top: 0; 
    margin-bottom: 10px;
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}