<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                <h5 style="margin:0px;">Cadastrar unidade de loja</h5>
            </div>
            <div style="margin-top: 0; margin-left: 15px; margin-right: 15px; border-bottom: solid 2px #e2e2e2; height: 10px; width: 100%"></div>
        </div>

        <!-- Modulo de Erros de Input-->
        <div *ngIf="errors_input">
        <app-errors></app-errors>
        </div>
        <!-- End of Modulo de Erros de Input-->
    
        <!-- Module de Resposta da Api -->
        <div *ngIf="responseScreen">
        <app-responses></app-responses> 
        </div>
        <!-- End of Modulo de Resposta da Api-->
    
        <!-- Module de Loader -->
        <div class="row align-items-center" style="height: 203px" *ngIf="estadoLoad">
        <div class="col-sm">
            <div class="row justify-content-center">
                <div class="loader-in-box" style="margin-top: 10px">
                    <app-loader></app-loader>
                    <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                </div>
            </div>
        </div>
        </div>
        <!-- End of Module de Loader-->

        <div *ngIf="propostaScreen && responseScreen===false && estadoLoad===false && responsePropostaScreen===false && inputsCadastroUnidade===false">
            <div class="row align-items-center" [ngStyle]="styleResponse">
                <div class="col-sm">
                    <div class="row justify-content-center">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="row align-items-center">
                                <div *ngIf="response_code==200" class="img_response_sucess"></div>
                                    <div *ngIf="response_code==400" class="img_response_error"></div>

                                <div class="col-sm">
                                    <div>
                                        <p class="msg_nova_unidade"> Para cadastrar uma nova unidade para utilizar a Trocados, 
                                        é necessário entrar em contato conosco e solicitar uma nova proposta de serviço.
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-center">
                                <div class="col-sm">
                                    
                                        <p class="msg_codigo_proposta"> Se você já solicitou uma proposta para essa nova unidade e recebeu o código de proposta via email, 
                                            insira o código abaixo.
                                        </p>
                                    
                                </div>
                            </div>
                          
                            <div class="row justify-content-center">
                                <div [formGroup]="propostaForm" class="col-sm-6">
                                    <input
                                    type="text" 
                                    class="form-control center_place {{ codigoValido ? 'is-valid' : 'is-invalid'}}"
                                    placeholder="Código de Proposta"
                                    formControlName="codigo"
                                    style="text-align: center"
                                    #inputCodigo (input)="validaCodigo(inputCodigo)"
                                    required>
                                    <button (click)="verificaProposta()" class="btn blue btn-sm btn-block" [disabled]="estadoForm">Enviar Código</button>
                              </div>
                          </div>
                          
                        </div>
                    </div>
                </div>
              </div> 
        </div>

        <div *ngIf= "responsePropostaScreen">
            <div class="row align-items-center" >
                <div class="col-sm">
                    <div class="row justify-content-center">
                        <div style="margin-top: 60px; margin-bottom: 60px">
                            <div class="row align-items-center" >
                                <div class="col-sm">
                                    <div class="row justify-content-center">
                                        <img class="email-img" style="margin-bottom: 20px" src="/assets/invoice.svg">
                                    </div>
                                </div>
                            </div>        
                            <div class="row align-items-center">
                                <div class="col-sm" style="text-align: center">                                      
                                    <h5>Informações sobre seu plano</h5>                  
                                </div> 
                            </div>          
                            <div class="row justify-content-center">
                                <div class="col-sm">
                                    <p style="margin-bottom: .5rem; font-size: 1rem">Valor {{response_proposta.ciclo}} após o mês grátis que encerra em {{vencimento_gratis}}</p>
                                </div>
                            </div>   
                            <div class="row justify-content-center">
                                    <div class="col-sm" style="text-align: center">
                                        <p class="texto-rosa">R${{valor_mensalidade}}</p>
                                    </div>
                                </div>   
                                <button (click)="prosseguirCadastro()" class="btn blue btn-sm btn-block">Quero prosseguir cadastro</button>
                        </div>
                    </div>
                </div>

            
        </div>
        </div>

        <div *ngIf="inputsCadastroUnidade && responsePropostaScreen===false">
        <form [formGroup]="formLojas">
        <div class="row" style = "margin-top: 10px">
            <div class="col-sm">
                <div class="form-group">
                    <input
                        type="hidden"
                        formControlName="id"
                        >
                    <input
                        type="text" 
                        class="form-control extra {{ nome_unidadeValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Nome da unidade"
                        formControlName="nome_unidade"
                        #inputNome (input)="validaNome(inputNome)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ cepValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="CEP"
                        formControlName="cep"
                        [textMask]="{mask: cep}"
                        (blur)="consultaCep()"
                        #inputCep (input)="validaCep(inputCep)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ bairroValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Bairro"
                        formControlName="bairro"
                        #inputBairro (input)="validaBairro(inputBairro)"
                        required>
                </div>
                <div class="col-sm">
                    <div class="row align-items-end">
                        <div class="col-sm" style="padding:0%;">
                            <p style="font-size: 1rem; font-weight: 700; margin-bottom: 0rem;">* Valor de troco diário:</p>
                        </div>
                        
                        <div class="col-sm-5" style="padding:0%;">
                            <div class="form-group" style="margin-bottom: 0rem;">
                                <input
                                    type="text" 
                                    class="form-control extra"
                                    placeholder="R$ 0,00"
                                    formControlName="valor_troco"
                                    currencyMask
                                    [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', teste: '00' }"
                                    required>
                            </div>
                        </div>
                          
                    </div>
                        
                </div>
                <div class="row align-top">
                    <div class="col">
                        <p style="font-size: 11px; font-style: italic;">* Valor que os operadores de caixa irão utilizar durante o dia.</p> 
                    </div> 
                </div> 
            </div>
              
                
            
            <div class="col-sm">
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ cnpjValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="CNPJ da Unidade"
                        formControlName="cnpj"
                        [textMask]="{mask: cnpj}"
                        #inputCnpj (input)="validaCNPJ(inputCnpj)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="text" 
                        class="form-control extra {{ ruaValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Rua"
                        formControlName="rua"
                        #inputRua (input)="validaRua(inputRua)"
                        required>
                </div>
                <div class="form-group">
                    <input
                        type="number" 
                        class="form-control extra {{ numeroValido ? 'is-valid' : 'is-invalid'}}"
                        placeholder="Número"
                        formControlName="numero"
                        #inputNumero (input)="validaNumero(inputNumero)"
                        required>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <div class="form-group" style="margin-right: 10px">
                            <input
                                type="text" 
                                class="form-control extra {{ cidadeValido ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Cidade"
                                formControlName="cidade"
                                #inputCidade (input)="validaCidade(inputCidade)"
                                required>
                        </div>
                    </div>
                    
                    <div class="col-sm">
                        <div class="form-group" style="margin-right: 0">
                            <input
                                type="text" 
                                class="form-control extra {{ estadoValido ? 'is-valid' : 'is-invalid'}}"
                                placeholder="Estado"
                                formControlName="estado"
                                #inputEstado (input)="validaEstado(inputEstado)"
                                required>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="row align-items-center" style = "bottom: 50px; margin-top: 20px">
                    <div class="col-sm">
                        <div class="row justify-content-center">
                            <img class="new_user_img" src={{img_matriz}}>
                        </div>
                        <div class="row justify-content-center">
                            <button class="rosa btn  btn-sm" style="padding-left: 22px; padding-right: 22px;" data-toggle="modal" data-target="#exampleModall" type="submit">Inserir Imagem</button>
                        </div>
                        <div class="row justify-content-center">
                            <button class="btn cinza btn-sm " style="padding-left: 10px; padding-right: 10px;" (click)="getImgMatriz()">Usar foto da matriz</button>
                        </div>
                    </div>
                    </div>
            </div>
        </div>
    </form>

        <div *ngIf="!ativo">
            <button class="btn rosa btn-sm btn-block col-sm-2" type="submit" (click)="cadastraUnidade()" [disabled]="estadoForm2">Cadastrar Unidade</button>
        </div>
        <div *ngIf="ativo">
            <button class="btn rosa btn-sm btn-block col-sm-2" type="submit" (click)="atualizar()">Atualizar Unidade</button>
        </div>
    </div>
    </div>
</div>

<div class="card-box">
    <div class = "card-new" style = "width: 100%;">
        <div class="row">
            <div class="col-sm">
                    <h5 style="margin:0px;">Unidades Cadastradas</h5>
            </div>

            <div class="linha_title"></div>
        </div>

        <!-- Module de Loader -->
        <div class="row align-items-center" style="height: 203px" *ngIf="estadoLoadUnidades">
            <div class="col-sm">
                <div class="row justify-content-center">
                    <div class="loader-in-box" style="margin-top: 10px">
                        <app-loader></app-loader>
                        <p class= "text-center" style="font-size: 10px;">{{mensagem_loader}}</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Module de Loader-->

        <div *ngIf="estadoLoadUnidades===false">
            <table class="table table-striped" style="margin-bottom: 0;" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
                    <thead>
                        <tr style = "color: #fafafa; background-color: #1b2f39;">
                            <th style="width: 30%; font-size: .8rem;">
                                <mfDefaultSorter by="nome">Nome</mfDefaultSorter>
                            </th>
                            <th style="width: 40%; font-size: .8rem;">
                                <mfDefaultSorter by="endereco">Endereço</mfDefaultSorter>
                            </th>
                            <th style="width: 15%; font-size: .8rem;">
                                <mfDefaultSorter by="saldo">Saldo atual</mfDefaultSorter>
                            </th>
                            <th style="width: 15%; font-size: .8rem;">
                                <mfDefaultSorter ></mfDefaultSorter>
                        </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let dado of mf.data">
                        <td style="font-size: .8rem;">{{dado.nome_fantasia}}</td>
                        <td style="font-size: .8rem;">{{dado.endereco}} - {{dado.numero}} - {{dado.bairro}} - {{dado.cidade}}</td>
                        <td class="saldo_unidade">{{dado.saldo | currency: 'BRL'}}</td>
                        <td><button class="btn blue btn-sm btn-block" style="margin-top:0%" (click)="editar(dado)">Editar Unidade</button></td>
                        </tr>
                        
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator class="mypag"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        </tfoot>
                    
                </table>
        </div>
        
    </div>
  </div>

      <!--                            MODAL                                                 -->

      <div class="modal fade" id="exampleModall" tabindex="-1"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 style="margin:0px; margin-left: 10px; color: rgba(0,0,0,0.54)">Edite a foto de sua empresa</h5>
            </div>
                
            <div class="modal-body" style="padding: 0rem 1rem 0rem 1rem;">
                    <div class="linha_title2"></div>
              <div>
                <app-enviar-imagem></app-enviar-imagem>
            </div>
              
            </div>
                
            <div class="modal-footer">
              <button class="btn rosa btn-sm btn-block col-sm-4" style="margin-top: 0px; font-size: 0.7rem;" data-dismiss="modal">FECHAR EDITOR</button>
            </div>
          </div>
        </div>
      </div>
