<div class="profi-box" *ngFor="let profissional of profissionais">
    <div style="width: 250px">
      <div class="row d-flex justify-content-center" style="margin-right: 15px">
        <img class="produto" src="{{mostrarImg(profissional.img)}}" >
        <p class="text-center" style="font-size: .9rem; font-weight: 500; margin-bottom: 0; width: 100%"><label>{{profissional.nome}}</label></p>
        <p class="text-center" style="font-size: .9rem; line-height: 1.2; margin-bottom: 0; width: 100%"><label>CPF {{profissional.cpf}}</label></p>
        <button class="btn btn-sm laranja_hover" (click)=editarProfissional(profissional)>EDITAR</button>
      </div>
    </div>
  </div>