.card-box {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 10px 10px 10px
}

.card{
    margin: 20px
}

.card-body{
    padding: 0;
}

.card-title {
    width: 100%;
    padding: 10px;
    margin: 0 0 5px 5px;
    border-bottom: solid gray 1px
}

.card-new {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    margin-left: 10px;
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-new-col {
    border-radius: 2px;
    color: rgba(0,0,0,0.54); 
    font-size: 12px; 
    height: 100%; 
    padding: 10px 20px 20px 20px; 
    background-color: #FFFFFF
}

.card-box-teste {
    align-content: stretch; 
    display: flex; 
    flex-wrap: wrap; 
    margin: 20px 0px 10px 10px
}

.rosa{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.blue{
    margin-top: 10px;
    background-color:#37A5DA;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 20px;
    font-weight: 600;
}

.rosa_hover{
    color: #c4c4c4;
    border: 2px solid #c4c4c4;
    border-radius: 20px;
    background-color: transparent;
    font-weight: 600;
}

.rosa_hover:hover{
    background-color: #cb4386;
    color: #fff;
    border: 2px solid transparent;
    font-weight: 600;
}

.linha_title {
    margin-top: 0; 
    margin-left: 15px; 
    margin-right: 15px; 
    border-bottom: solid 2px #e2e2e2; 
    height: 10px; 
    width: 100%
}

.btn-group-sm>.btn, .btn-sm {
    padding: .15rem .15rem;
    font-size: .875rem;
    line-height: 1.5;
    margin-right: 10px;
}

.texto-rosa{
    font-weight: 500;
    font-size: 1rem;
    color: #cb4386;
    margin-bottom: 0rem;
}

.form-control {
    display: block;
    width: 50%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 15px;
}

.extra{
    border: 0 ;
    font-size: 1rem;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0;
    padding-left: 0;
}

.loader-in-box {
    width: 50px;
}