<div class="card-box">
  <div class="card-new" style="width: 100%;">
    <div class="row head_module">
      <div class="col-sm" style="padding-top: 10px; padding-bottom: 10px">
        <h5 style="margin:0px;">Editar Colaborador</h5>
      </div>
    </div>
    <form>
    <div class="row" style = "margin-top: 30px"> 
      <div class="col-sm-4">
        <label class="label-teste texto">Nome</label>
          <div class="form-group">   
            <input
              class="form-control"
              formControlName="nome">
          </div> 
          <label class="label-teste texto">CPF</label> 
          <div class="form-group">
            <input 
              class="form-control" 
              formControlName="cpf">
          </div>
      </div> 
      <div class="col-sm-4">
        <label class="label-teste texto">E-mail</label>
        <div class="form-group">   
          <input
            class="form-control"
            formControlName="email">
        </div> 
        <label class="label-teste texto">Confirmar E-mail</label>
        <div class="form-group">   
          <input
            class="form-control"
            formControlName="confirmar-email">
        </div> 
      </div>
    </div>
    <div><button  class="btn laranja btn-sm ">ATUALIZAR</button></div>
  </form>
  </div>   
</div>