/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: uni;
    src: url(assets/unisans.otf) format("opentype");
}

@font-face {
    font-family: uniheavy;
    src: url(assets/unisansheavy.otf) format("opentype");
}

@font-face {
    font-family: roboto;
    src: url(assets/robotolight.ttf) format("truetype");
}
