<div class="d-flex justify-content-center" style="align-content: stretch; display: flex; 
flex-wrap: wrap; margin: 10px 10px 10px 10px;  width: 100%; margin: 0px; background-color: #fff; 
border: 1px solid rgba(104, 102, 102, 0.54);">
  <div class="row align-items-center">
    <div class="col-sm">
      <div class="row justify-content-center">
          <img  style="height: 80px; margin: 30px" src="/assets/logo-falcone.svg">
      </div>

    </div>

  </div>
<div style="align-content: stretch; display: flex; flex-wrap: wrap; margin: 10px 10px 10px 10px;">
  <div style="width: 100%; border-radius: 10px; color: rgba(0,0,0,0.54); font-size: 12px; height: 100%; 
  padding: 10px 20px 20px 20px; background-color: #FFFFFF; border: 1.5px solid rgba(104, 102, 102, 0.54);">
    <div class="row" style="height: 50px; margin: -20px; margin-top: -10px; background-color: #000;
    color: #fff; border-top-left-radius: 10px; border-top-right-radius: 10px;">
      <div class="col-sm" style="padding-top: 15px; padding-bottom: 10px">
        <h6 style="margin:0px;">RECEITA MÉDICA PARA FALCONE SUPLEMENTOS</h6>
      </div>
      <div class="col-sm" style="padding-top: 15px; padding-bottom: 10px">
        <h6 class="text-right" style="margin:0px;">CÓDIGO DA RECEITA: {{dados_receita.receita[0].codigo}}</h6>
      </div>
    </div>

    <div class="row" style = "margin-top: 30px; margin-left: 15px; margin-right: 15px" >
      <div class="col-sm" style = "margin-top: 30px;">
        <label style="font-weight: 500; font-size: 1.2rem; margin-bottom: 0rem;">Profissional de saúde: &nbsp;</label> 
        <label style="font-size: 1.2rem; margin-bottom: 0rem;">{{dados_receita.profissional[0].nome}}</label>
      </div>
      <div class="col-sm" style = "margin-top: 30px;">
        <label style="font-weight: 500; font-size: 1.2rem; margin-bottom: 0rem;">Código Profissional:  &nbsp;</label>
        <label style="font-size: 1.2rem; margin-bottom: 0rem;">{{dados_receita.profissional[0].crm}}</label>
      </div>
    </div>

    <div class="row" style = "margin-top: 20px; margin-left: 15px; margin-right: 15px; border-top: 1px solid rgba(104, 102, 102, 0.54);">
      <div class="col-sm" style = "margin-top: 20px;">
        <label style="font-weight: 500; font-size: 1.1rem; margin-bottom: 0rem;">Paciente: &nbsp;</label> 
        <label style="font-size: 1.1rem; margin-bottom: 0rem;">{{dados_receita.cliente[0].nome}}</label>
      </div>
      <div class="col-sm" style = "margin-top: 20px;">
        <label style="font-weight: 500; font-size: 1.1rem; margin-bottom: 0rem;">E-mail: &nbsp;</label>
        <label style="font-size: 1.1rem; margin-bottom: 0rem;">{{dados_receita.cliente[0].email}}</label>
      </div>
    </div>

    <div class="row" style = "margin-top: 20px; margin-left: 15px; margin-right: 15px; border-top: 1px solid rgba(104, 102, 102, 0.54);">
      <div class="col-sm" style = "margin-top: 20px;">
        <p style="font-weight: 500; font-size: 1rem; margin-bottom: 0rem;">Produtos indicados: &nbsp;</p>
        <div *ngFor="let produto of dados_receita.produtos">
            <p style="font-size: .9rem; margin-bottom: 0rem; margin-top: 5px">1 - {{produto.nome}}</p>
        </div>
      </div>
    </div>

    <div class="row align-items-center" style = "margin-top: 20px; border-top: 1px dashed rgba(104, 102, 102, 0.54);">
      <div class="col-sm" style = "margin-top: 20px;">
        <div class="row justify-content-center">
          <img  class="new_user_img" style="width: 50px; height: 50px;" src="/assets/logo-icon-falcone.svg">
          <p class="text-center" style="font-weight: 500; margin-bottom: 0rem; font-size: 1rem; width: 100%"><em>Endereço: Av. João Valério, 757 - Shopping Show - Loja 4</em></p>
          <p class="text-center" style="font-weight: 500; margin-bottom: 0rem; font-size: 1rem; width: 100%"><em>CNPJ: 26.229.475.0001/48</em></p>
        </div>
        <div class="row " style = "margin-top: 20px;">
        <div class="col-sm">
          <div class="d-flex justify-content-end">
            <img  class="float-left" style="height: 24px" src="/assets/wpp.svg">
            <span class="float-left " style="font-weight: 500; margin-bottom: 0rem;margin-left: 5px; font-size: 1rem;"><em>(92) 98453-0200</em></span>
          </div>
        </div>
        <div class="col-sm" style="width: 250px">
          <div class="d-flex justify-content-center">
          <img  class="float-left" style="height: 24px" src="/assets/ig.svg">
          <img  class="float-left" style="height: 24px; border-radius: 7px;" src="/assets/fb.svg">
          <span class="float-left" style="font-weight: 500; margin-bottom: 0rem; margin-left: 5px; font-size: 1rem;"><em>@falconesuplementos</em></span>
          </div>
          
        </div>
        <div class="col-sm">
          <i class="material-icons float-left">email</i>
          <span class="float-left" style="font-weight: 500; margin-bottom: 0rem; margin-left: 5px; font-size: 1rem;"><em>falconeselect@gmail.com</em></span>
        </div>
      </div>
      </div>
      
      
    </div>
   
  </div>
</div>
</div>
